{{!-- Этот блок это всплывающий баннер по ентру сайта --}}


<div class="grey-back">


                <div  class="main-banner-1" >
                    <div class="form__inner">
                            <div class="grid__row">
                                    <div class="col-1-1">
                                        <div class="services__head">
                                            <h2>Почему нам доверяют разработку и продвижение сайтов</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__row">
                                    <div class="col-1-2">
                                        <div class="services__item">
                                            <div class="services__img"><img alt="Разработка web-сайта под ключ"
                                                    src="/files/110/services-3.png" /></div>
                                            <div class="services__text">
                                                <div class="services__title">Работа над проектом со всех сторон</div>
                                                <p>Вы получаете не услугу, а маркетинговую команду. Ее главная цель
                                                    &mdash; обеспечить результат для вашего бизнеса и увеличить прибыль.
                                                    Каждый проект уникален: создаем сайты, которые будут закрывать ваши
                                                    бизнес-задачи.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1-2">
                                        <div class="services__item">
                                            <div class="services__img"><img alt="Базовая SEO-оптимизация"
                                                    src="/files/110/services-4.png" /></div>
                                            <div class="services__text">
                                                <div class="services__title">Маркетинговая проработка сайта</div>
                                                <p>Вам нужно разработать сайт под ключ или переработать старый сайт? Мы
                                                    предлагаем вам создать сайт, который будет закрывать конкретные
                                                    маркетинговые или бизнес-задачи. В зависимости от сложности решения,
                                                    срок разработки &mdash; от 14 дней. Гарантию на запуск сайта в срок
                                                    мы указываем в договоре. Процесс создания сайта будет проходить под
                                                    вашим постоянным контролем.</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="services__btnbox"><a ajaxform="1"
                                            class="services__btn callback hide-on-mobile" formname="service_order_popup"
                                            href="/#form" js_max_width="1150">Получить КП</a> <a
                                            class="services__btn hide-on-desktop hide-on-tablet"
                                            href="/#form" >Получить КП</a></div> --}}
                                </div>
                    </div>
                </div>

</div>


