{{!-- Этот блок это всплывающий баннер по ентру сайта --}}


<div class="grey-back">


                <div  class="main-banner-1" >
                    <div class="form__inner">
                            <div class="grid__row">
                                    <div class="col-1-1">
                                        <div class="services__head">
                                            <h2>Акция месяца!</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__row">
                                    <div class="col-1-2">
                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/banermen.jpg" /></div>
                                        </div>
                                    </div>
                                    <div class="col-1-2">
                                        <div class="services__item">
                                            {{!-- <div class="services__img"><img alt="Разработка web-сайта под ключ"
                                                    src="/files/110/services-3.png" /></div> --}}
                                            <div class="services__text">
                                                <div class="services__title"><h3>Акция: "Cкидка 10% при заказе разработки сайта!"</h3></div>
                                                <p>Описание: При заказе разработки любого сайта в нашей компании от лендинга до корпоративного портала - мы предоставим вам скидку в 10% которую вы сможете потратить на оплату услуг хостинга и телефонию или будущие заказы у нас! В акции участвуют все клиенты и партнеры.</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {{!-- <div class="services__btnbox"><a ajaxform="1"
                                            class="services__btn callback hide-on-mobile" formname="service_order_popup"
                                            href="/#form" js_max_width="1150">Получить КП</a> <a
                                            class="services__btn hide-on-desktop hide-on-tablet"
                                            href="/#form" >Получить КП</a></div> --}}
                                </div>
                    </div>
                </div>

</div>


