<div class="l-footerbox-stop">
        
</div>
<div class="l-footerbox" sktag="page.footer">
        <div class="footerbox__wrapper">
        <div class="l-grid">
                <div class="grid__item2">
                        <div class="b-foot-social">
                                {{!-- TODO - заполнить ссылки на соцсети --}}
                                <div class="foot-social__social-item">
                                        <a href="http://vk.com/" rel="nofollow"
                                        target="_blank"><img alt="" src="/files/110/icon-vk-new.png" />
                                        </a>
                                </div>
                                <div class="foot-social__social-item"><a href="http://twitter.com/"
                                        rel="nofollow" target="_blank"><img alt="" src="/files/110/icon-tw.png" /></a>
                                </div>
                                <div class="foot-social__social-item"><a href="https://www.instagram.com/"
                                        rel="nofollow" target="_blank"><img alt=""
                                        src="/files/110/icon-insta.png" /></a></div>
                                <div class="foot-social__social-item"><a href="https://t.me/"
                                        rel="nofollow" target="_blank"><img alt=""
                                        src="/files/110/icon-telegram.png" /></a></div>
                                <div class="foot-social__social-item"><a
                                        href="https://zen.yandex.ru/" rel="nofollow"
                                        target="_blank"><img alt="" src="/files/110/icon-8.png" /></a></div>
                        </div>
                        <div class="b-counter">
                                <noindex></noindex>
                        </div>
                </div>
                <div class="grid__item3">
                        <div class="b-foot-contacts">
                                {{!-- TODO - заполнить телефоны  ОМсквы + ссылки атр--}}
                                <div class="foot-contacts__text">Контакты</div>
                                <p>Москва</p>
                                <div class="foot-contacts__phone"><a href="tel:88000000000">+7 (495) 128-27-60</a></div>
                                <div class="foot-contacts__city">
                                <p>Новосибирск <a class="disabled"  rel="nofollow">+7 (383) 242-75-41</a></p>
                                <p>Казань <a class="disabled"  rel="nofollow">+7 (843) 212-65-96</a></p>
                                </div>
                                <div class="foot-contacts__email"></div>
                        </div>
                </div>
                <div class="grid__item4 hide-on-tablet hide-on-mobile">
                        <div class="b-footer-menu">
                                <div class="footer-menu__col footer-menu__col--left">
                                <div class="footer-menu__left-top">
                                        <div class="footer-menu__title">Разработка сайтов</div>
                                        <div class="footer-menu__item"><a
                                                href="#">Интернет-магазин</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="#">Лендинг (Landing)</a></div>
                                        <div class="footer-menu__item"><a
                                                href="#">Сайт-визитка</a>
                                        </div>
                                </div>
                                <div class="footer-menu__left-bot">
                                        <div class="footer-menu__title">О нас</div>
                                        <div class="footer-menu__item"><a href="/portfolio/">Портфолио</a></div>
                                        <div class="footer-menu__item"><a href="/thanks/">Отзывы</a></div>
                                </div>
                                </div>
                                <div class="footer-menu__col footer-menu__col--center">
                                        <div class="footer-menu__title">Продвижение</div>
                                        <div class="footer-menu__item"><a href="#">Поисковое
                                                продвижение (SEO)</a></div>
                                        <div class="footer-menu__item"><a href="#">Социальные сети
                                                (SMM)</a></div>
                                        <div class="footer-menu__item"><a
                                                href="/prodvizhenie-sajtov/seo/bazovaya-optimizaciya/">SEO-оптимизация</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/prodvizhenie-sajtov/seo/internet-magazina/">Продвижение
                                                интернет-магазинов</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/prodvizhenie-sajtov/seo/pod-yandeks/">Продвижение сайтов в Яндекс</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/prodvizhenie-sajtov/seo/pod-google/">Продвижение сайтов в Google</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/prodvizhenie-sajtov/prodvizhenie-sajta-na-bitriks/">Продвижение
                                                сайтов на Битрикс</a></div>
                                </div>
                                <div class="footer-menu__col footer-menu__col--right">
                                        <div class="footer-menu__title">Реклама</div>
                                        <div class="footer-menu__item"><a href="/reklama/kontekstnaya-reklama/">Контекстная
                                                реклама</a></div>
                                        <div class="footer-menu__item"><a href="/reklama/reklama-yandeks-direkt/">Яндекс
                                                Директ</a></div>
                                        <div class="footer-menu__item"><a href="/reklama/target-reklama/">Таргетированная
                                                реклама</a></div>
                                        <div class="footer-menu__item"><a href="/404">Реклама
                                                Instagram</a></div>
                                        <div class="footer-menu__item"><a href="/reklama/reklama-vk/">Реклама ВКонтакте</a>
                                        </div>
                                        <div class="footer-menu__item"><a href="/reklama/reklama-v-yandeks-dzen/">Реклама в
                                                Яндекс Дзен</a></div>
                                </div>
                        </div>
                </div>
                <div class="grid__item5">
                        <div class="b-footerbox">
                                <div class="footerbox__logo"><img alt="" src="/files/110/footer-logo.png" /></div>
                                <div class="footerbox__parts footerbox__parts"><span
                                        class="footerbox__text">Сертифицированный&nbsp;партнер</span> <span
                                        class="footerbox__part footerbox__part--top">
                                        <nofollow>
                                        <div class="footerbox__items">
                                                <a class="disabled"  rel="nofollow">
                                                        <img src="/files/110/foot-yandex.png" />
                                                </a> &nbsp;&nbsp;&nbsp;
                                                <a class="disabled"  rel="nofollow">
                                                        <img src="/files/110/foot-google.png" />
                                                </a> &nbsp;&nbsp;&nbsp;
                                                <a class="disabled"  rel="nofollow">
                                                        <img src="/files/110/bitrix-color.png" />
                                                </a>
                                        </div>
                                        </nofollow>
                                </span></div>
                                <div class="footerbox__links">
                                        <div class="footerbox__link"><a href="№"><img alt=""
                                                        src="/files/110/ficon1.png" /> Сотрудничество</a></div>
                                        <div class="footerbox__link"><a href="/sluzhba-podderzhki/support/"><img alt=""
                                                        src="/files/110/ficon2.png" /> Служба поддержки</a></div>
                                        <div class="footerbox__link"><a ajaxform="1" alt="" class="callback"
                                                formname="service_order_popup" href="#" img="" js_max_width="1000"><img
                                                        src="/files/110/ficon3.png" />Отправить заявку</a></div>
                                </div>
                        </div>
                </div>
        </div>
        <div class="footerbox__left"></div>
        <div class="footerbox__right"></div>
        </div>
</div>

