<div class="container">
                <div id="form" class="b-form b-form_mainpage b-form--mainpage js-form" >
                    <div class="form__inner">
                        <form  method="post" action="https://formspree.io/f/mlekkdza">
                        
                            <div class="b-form-range js-form-range">
                                <div class="form-range__title">Оставьте заявку</div>
                                <div class="form-range__text">Укажите примерную сумму, которую планируете на реализацию
                                    проекта</div>
                                <div class="form-range__price-input">
                                    <div class="field"> <span>от</span> 
                                    <input type="number" name="from" class="input-min"
                                            value="5000"> <span>руб.</span> </div>
                                    <div class="field"> <span>до</span> 
                                    <input type="number" name="to" class="input-max"
                                            value="100000"> <span>руб.</span> </div>
                                </div>
                                
                            </div>

                            <div class="form__content">
                                <div class="form__col-1-3 form__label-none form__col-nopad"> <label class="form__label">ФИО <ins
                                            class="form__mark">*</ins></label>
                                    <div class="form__inputwrap"> 
                                        
                                        <input type="text" name="fio"  value="" placeholder="ФИО" />
                                    </div>
                                    <p class="form__info"></p>
                                </div>
                                <div class="form__col-1-3 form__label-none form__col-nopad"> <label class="form__label">Телефон <ins
                                            class="form__mark">*</ins></label>
                                    <div class="form__inputwrap"> 
                                       
                                        <input type="tel" name="phone"
                                             value="" placeholder="Телефон"
                                            mask="phone" /> </div>
                                    <p class="form__info"></p>
                                </div>
                                <div class="form__col-1-3 form__label-none form__col-nopad"> <label class="form__label">E-mail <ins
                                            class="form__mark">*</ins></label>
                                    <div class="form__inputwrap"> 
                                       
                                       
                                        <input type="email" name="email"
                                             value="" placeholder="E-mail" />
                                    </div>
                                    <p class="form__info"></p>
                                </div>
                                <div class="form__col-1 form__label-none form__col-nopad"> <label class="form__label">Укажите сферу бизнеса, регион
                                        работы, адрес действующего сайта и витрины</label>
                                    <div class="form__inputwrap"> <textarea name="comment"
                                            
                                            placeholder="Укажите сферу бизнеса, регион работы, адрес действующего сайта и витрины"></textarea>
                                    </div>
                                    <p class="form__info"></p>
                                </div>
                                <div class="form__line">
                                    <div class="form__col-1 form__col-btn"> <button type="submit"
                                            class="b-btnbox js-submit">Отправить</button> </div> 
                                    <div class="form__label" >Нажимая
                                        кнопку «Отправить», вы даете согласие на обработку персональных данных согласно
                                        <a href="/about/politika-konfidencialnosti/" target="_blank">Политике
                                            конфиденциальности</a> </div>
                                    
                                </div> <!-- -->
                            </div> 
                            

                        </form>
                    </div>
                </div>
</div>