<div class="l-footerbox-stop">
        
</div>
<div class="l-footerbox" >
        <div class="footerbox__wrapper">
        <div class="l-grid">
                <div class="grid__item2">
                        <div class="b-foot-social">
                               
                        </div>
                        <div class="b-counter">
                                <noindex></noindex>
                        </div>
                </div>
                <div class="grid__item3">
                        <div class="b-foot-contacts">
                                <div class="foot-contacts__text">Контакты</div>
                                <p>Москва</p>
                                <div class="foot-contacts__phone"><a href="tel:89956221475">+7 (995) 622-14-75</a></div>
                               
                                <div class="foot-contacts__email"></div>
                        </div>
                </div>
                <div class="grid__item4 hide-on-tablet hide-on-mobile">
                        <div class="b-footer-menu">
                                <div class="footer-menu__col footer-menu__col--left">

                                <div class="footer-menu__left-top">
                                        <div class="footer-menu__title"><a
                                                href="/razrabotka-saitov/">Разработка сайтов</a></div>
                                        <div class="footer-menu__item"><a
                                                href="/razrabotka-saitov/landing-page/">Лендинг (Landing)</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/razrabotka-saitov/site-vizitka/">Сайт-визитка</a>
                                        </div>
                                        
                                        <div class="footer-menu__item"><a
                                                href="/razrabotka-saitov/site-katalog/">Сайт - Каталог</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/razrabotka-saitov/site-magazin/">Сайт - Магазин</a>
                                        </div>
                                        {{!-- <div class="footer-menu__item"><a
                                                href="/razrabotka-saitov/cms-wordpress/">CMS WordPress</a>
                                        </div> --}}
                                </div>



                                </div>
                                <div class="footer-menu__col footer-menu__col--center">
                                        <div class="footer-menu__title"><a href="/poiskovoe-prodvizenie/">SEO продвижение</a></div>
                                        <div class="footer-menu__item"><a
                                                href="/poiskovoe-prodvizenie/seo-prodvizenie-yandex/">SEO для Яндекс</a>
                                        </div>
                                        <div class="footer-menu__item"><a
                                                href="/poiskovoe-prodvizenie/seo-prodvizenie-google/">SEO для Google</a>
                                        </div>
                                </div>



                                <div class="footer-menu__col footer-menu__col--right">
                                        <div class="footer-menu__title"><a href="/digital-reklama/">Digital Реклама</a></div>
                                        <div class="footer-menu__item"><a href="/digital-reklama/yandex-direct/">Реклама в Яндекс Директ</a></div>
                                        <div class="footer-menu__item"><a href="/digital-reklama/yandex-market/">Реклама в Яндекс Маркет</a></div>
                                       
                                </div>
                        </div>
                </div>
                <div class="grid__item5">
                        <div class="b-footerbox">
                                <div class="footerbox__logo"><img alt="" src="/files/1/footer-logo.png" /></div>
                                <div class="footerbox__parts footerbox__parts"><span
                                        class="footerbox__text">Сертифицированный&nbsp;партнер</span> <span
                                        class="footerbox__part footerbox__part--top">
                                        <nofollow>
                                        <div class="footerbox__items">
                                                <a class="disabled"  rel="nofollow">
                                                        <img src="/files/110/foot-yandex.png" />
                                                </a> &nbsp;&nbsp;&nbsp;
                                                <a class="disabled"  rel="nofollow">
                                                        <img src="/files/110/foot-google.png" />
                                                </a> &nbsp;&nbsp;&nbsp;
                                                <a class="disabled"  rel="nofollow">
                                                        <img src="/files/110/bitrix-color.png" />
                                                </a>
                                        </div>
                                        </nofollow>
                                </span></div>
  
                        </div>
                </div>
        </div>
        <div class="footerbox__left"></div>
        <div class="footerbox__right"></div>
        </div>
</div>

