<div class="b-bannercenter" sklabel="bannerContentBottom">
                <div class="container">
                    <div class="b-trust">
                        <div class="grid__row">
                            <div class="col-2-12 tablet-col-4-12">
                                <div class="trust__item"> <a class="disabled"  rel="nofollow"><img
                                            alt="Сертификация Ruward" src="/files/1/ruward-new.png"
                                            style="width: 182px; height: 194px;" /> </a>
                                            <span class="trust__title">
                                                <a class="disabled"  rel="nofollow">Сертификат центра Ruward </a>
                                            </span></div>
                            </div>
                            <div class="col-2-12 tablet-col-4-12">
                                <div class="trust__item"><a class="disabled"  rel="nofollow"><img alt="Сертификация ISO" src="/files/1/sert-iso_2022.png"
                                            style="width: 182px; height: 195px;" /></a>
                                            <span class="trust__title">
                                                <a class="disabled"  rel="nofollow">Сертификат ISO 9001:2015</a></span>
                                </div>
                            </div>
                            <div class="col-2-12 tablet-col-4-12">
                                <div class="trust__item"><a class="disabled"  rel="nofollow"><img
                                            alt="Рейтинг Рунета" src="/files/1/icon-2020.png"
                                            style="width: 182px; height: 194px;" /> </a>
                                            <span class="trust__title"><a class="disabled"  rel="nofollow">ТОП-50 лучших<br /> студий
                                            рунета</a></span></div>
                            </div>
                            <div class="col-2-12 tablet-col-4-12">
                                <div class="trust__item"><a class="disabled"  rel="nofollow"><img alt="Сертифицированное агентство Яндекс"
                                            src="/files/110/trust-2.png" /> </a>
                                            <span class="trust__title"><a class="disabled"  rel="nofollow">Сертификат Яндекс</a></span></div>
                            </div>
                            <div class="col-2-12 tablet-col-4-12">
                                <div class="trust__item"><a class="disabled"  rel="nofollow"><img alt="Сертифицированное агентство Google"
                                            src="/files/110/trust-6.png" /> </a>
                                            <span class="trust__title"><a class="disabled"  rel="nofollow"></a>Сертифицикат по<br /> Google Ads</a></span>
                                </div>
                            </div>
                            <div class="col-2-12 tablet-col-4-12">
                                <div class="trust__item"><a class="disabled"  rel="nofollow"><img alt="Сертифицированное агентство myTarget"
                                            src="/files/1/agentstvo-mytarget.png"
                                            style="width: 182px; height: 195px;" /> </a>
                                            <span class="trust__title"><a class="disabled"  rel="nofollow">Сертифицификат myTarget</a></span></div>
                            </div>
                        </div>
                    </div>
                </div>
</div>