<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="robots" content="index,follow" />
<!-- МЕТА-Данные -->
    <title>{{ title }}</title>
    <meta name="description"
        content='{{ description }}' />

<meta name="yandex-verification" content="982329bf8d2378f1" />
<meta name="yandex-verification" content="982329bf8d2378f1" />
<meta name="google-site-verification" content="9j2IkLrdcFtmL8O5KkYIA2NZ5NgYq0KJY70p-KnXiGg" />

<!-- Open Graph -->
    <meta property="og:site_name" content="SEO-First digital-агентство: сайты, продвижение, реклама!" />
    <meta property="og:url" content="/" />
    <meta property="og:type" content="website" />
    <meta property="og:title"
        content='{{ title }}' />
    <meta property="og:description"
        content="{{ description }}" />
    

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {{!-- <link rel="shortcut icon" href="/favicon.ico" type="image/png" /> --}}
<!-- Шаблонные -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="preload" href="/fonts/OpenSansRegular/OpenSans-Regular-with-ruble.woff2" as="font"
        crossorigin="anonymous">
    <link rel="preload" href="/fonts/Raleway/RalewayRegular/Raleway-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/OpenSansBold/OpenSans-Bold-with-ruble.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Raleway/RalewayBold/Raleway-Bold.woff2" as="font" crossorigin="anonymous">
    



    {{!-- <link href="/styles.pure.css" rel="stylesheet"> --}}
<!-- CSS -->
    {{!-- <link href="/assets/compile/style1.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style4.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style5.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style6.css" rel="stylesheet">
    <link href="/assets/compile/style9.css" rel="stylesheet">

    <link href="/assets/compile/style15.css" rel="stylesheet">
    <link href="/assets/compile/style16.css" rel="stylesheet">
    <link href="/assets/compile/style17.css" rel="stylesheet">
    <link href="/assets/compile/style18.css" rel="stylesheet">
    {{!-- <link href="/assets/compile/style19.css" rel="stylesheet"> --}}
    {{!-- <link href="/assets/compile/style21.css" rel="stylesheet"> --}}
    <link href="/assets/compile/style22.css" rel="stylesheet">
    <link href="/assets/compile/style23.css" rel="stylesheet">
    <link href="/assets/compile/style24.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">

</head>