<div class="container">
                <div class="b-sandwich js-sidebar-show show-on-tablet show-on-mobile"> <img
                        src="/files/110/sandwich.png" alt="" /> </div>
                <div class="b-pilot" sktag="page.head" sklayout="head">
                    <div class="b-logo " sktag="page.head.logo"><a href="/"><img class="logo__image"
                                src="/files/1/logo.png"></a> </div>
                    <div class="pilot__1 hide-on-tablet hide-on-mobile">
                        <p class="pilot__btn hide-on-mobile"><a ajaxform="1" class="header_button callback"
                                formname="service_order_popup" href="#" js_max_width="1150">Заказать услуги</a></p>
                        <p class="pilot__btn hide-on-desktop hide-on-tablet"><a class="header_button js-sidebar-link"
                                href="/contacts/#form_e94025029faf1bf94c3d7bb863c083b2">Заказать услуги</a></p>
                    </div>
                    <div class="pilot__2 hide-on-tablet hide-on-mobile">
                        <p class="pilot__icons hide-on-tablet hide-on-mobile"><a
                                href="/sluzhba-podderzhki/support/"><img src="/files/110/icon-phone2.png" /> Служба
                                поддержки</a></p>
                        <div class="sidebar__menu sidebar__menu--contact hide-on-desktop show-on-tablet show-on-mobile">
                            <ul>
                                <li><a href="/about/"><span><img src="/files/110/icon-50-1.png" /> </span>О компании</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pilot__3 hide-on-tablet hide-on-mobile">
                        <div class="b-head-contacts">
                            <div class="head-contacts__phone"><a href="tel:88002009460">8-800-200-94-60</a></div>
                            <noindex>
                                <div class="head-contacts__email"><a
                                        href="mailto:rop@mail.com">rop@mail.com</a></div>
                            </noindex>
                        </div>
                    </div>
                    <div class="pilot__4 hide-on-tablet hide-on-mobile">
                        {{!-- <p class="pilot__icons"><a href="/"><img src="/files/110/icon-phone.png" /> Служба поддержки</a></p> --}}
                    </div>
                    <div class="pilot__5 hide-on-tablet hide-on-mobile">
                        <div class="pilot__sale">
                            <p><a href="/akcii/">Акции</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-fixed-menu2">
                <div class="container container-nopad sevice__fixed2__wrapper hide-on-tablet hide-on-mobile">
                    <div class="b-menu context" sktag="menu.left">
                        <div class="menu__inner">
                            <ul class="level-1" sktag="menu.left.level1">
                                <li class="item-1"> <a href="/razrabotka-sajta/"> <em
                                            style="background-image: url(/files/293/icon-menu-10.png);"></em>
                                        <ins></ins> Сайты </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/razrabotka-sajta/">Разработка сайтов </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razrabotka-sajta/gotovye-resheniya/">Готовые
                                                                сайты</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razrabotka-sajta/individualnye-resheniya/landing-page/">Лендинг (Landing)
                                                                </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razrabotka-sajta/individualnye-resheniya/internet-magazin/">Интернет-магазины
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razrabotka-sajta/individualnye-resheniya/sajt-vizitka/">Сайты-визитки
                                                            </a></div>
                                                    </div>
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__top">
                                                            <div class="sub-menu__title">Системы управления</div>
                                                            <div class="sub-menu__item"><a
                                                                    href="/razrabotka-sajta/sajty-na-bitriks/">1C
                                                                    Битрикс </a></div>
                                                            <div class="sub-menu__item"><a
                                                                    href="/razrabotka-sajta/sajty-na-tilda/">Tilda </a>
                                                            </div>
                                                        </div>
                                                        <div class="sub-menu__bot">
                                                            <div class="sub-menu__title">Другие услуги</div>
                                                            <div class="sub-menu__item"><a
                                                                    href="/razrabotka-sajta/predproektnaya-analitika/">Проектирование
                                                                    сайта</a></div>
                                                        </div>
                                                    </div>
                                                    {{!-- <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a href="/portfolio/">Портфолио</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/portfolio/?tip_portfolio=6&amp;useJs=1&amp;_canapeuuid=221d7578-a9e1-4142-952e-821a2f680525">Корпоративные
                                                                сайты </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/portfolio/?tip_portfolio=4&amp;useJs=1">Landing
                                                                page </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/portfolio/?tip_portfolio=2&amp;useJs=1">Интернет-магазины
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/portfolio/?tip_portfolio=1&amp;useJs=1">Сайты-визитки
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/portfolio/?tip_portfolio=3&amp;useJs=1">Сайты с
                                                                каталогом </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/portfolio/primer-sajty-na-tilda/">Сайты на Tilda
                                                            </a></div>
                                                        <div class="sub-menu__item"><a href="/keisi/">Кейсы</a></div>
                                                    </div> --}}
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/banermen.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a href="/prodvizhenie-sajtov/"> <em
                                            style="background-image: url(/files/366/icon-menu-20.png);"></em>
                                        <ins></ins> Продвижение </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/prodvizhenie-sajtov/seo/">SEO-продвижение</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                            href="/prodvizhenie-sajtov/seo/pod-yandeks/">В Яндексе
                                                        </a></div>
                                                        <div class="sub-menu__item"><a
                                                            href="/prodvizhenie-sajtov/seo/pod-yandeks/">В Google
                                                        </a></div>
                                                        <div class="sub-menu__item"><a href="/marketplejsy/">В
                                                                маркетплейсах</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/moskva/">По Москве </a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/regiony/">По регионам
                                                            </a></div>
                                                        
                                                    </div>
                                                    {{!-- <div class="sub-menu__col">
                                                        <div class="sub-menu__title">Сферы бизнеса</div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/internet-magazina/">Интернет-магазины
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/stroitelnye-kompanii/">Строительство
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/promyshlennye-predpriyatiya/">Промышленность
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/magazin-stroitelnyh-materialov/">Стройматериалы</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/gostinicy/">Отели,
                                                                гостиницы</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/prodvizhenie-onlajn-kursov/">Образование
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/mebelnye-kompanii/">Мебель
                                                            </a></div>
                                                    </div> --}}
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title">Дополнительно</div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/razrabotka-digital-strategii/">Digital-стратегия
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/audity-sajta/seo-audit/">SEO-аудит </a></div>
                                                        <div class="sub-menu__item"><a href="/audity-sajta/seo-analiz-konkurentov/">Анализ конкурентов </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/audity-sajta/yuzabiliti-audit/">Юзабилити аудит
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/seo/bazovaya-optimizaciya/">Базовая
                                                                SEO-оптимизация </a></div>
                                                    </div>
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><a
                                                                    href="/akcii/vyvedem-sajt-v-top/"
                                                                    target="_blank"><img alt=""
                                                                        src="/files/110/banermen.jpg" /></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a href="/reklama/"> <em
                                            style="background-image: url(/files/491/ads-icon.png);"></em> <ins></ins>
                                        Реклама </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title">Рекламные каналы</div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/reklama-yandeks-direkt/">Яндекс Директ
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razvitie-sajta/price-adv/uslugi-reklamy-na-tarifah/vedenie-yandeks-market/">Яндекс
                                                                Маркет </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/reklama-vk/">Вконтакте </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/reklama-na-avito/">Авито </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/reklama-v-telegram/">Телеграм </a></div>
                                                    </div>
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title">Типы рекламы</div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/kontekstnaya-reklama/">Контекстная </a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/target-reklama/">Таргетированная </a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/marketplejsy/">Маркетплейсы </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/remarketing/">Ретаргетинг </a></div>
                                                    </div>
                                                    {{!-- <div class="sub-menu__col">
                                                        <div class="sub-menu__title">Дополнительно</div>
                                                        <div class="sub-menu__item"><a href="/cases/">Кейсы по рекламе
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/audity-sajta/audit-kontekstnoj-reklamy/">Аудит
                                                                контекстной рекламы </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/audity-sajta/audit-targetirovannoj-reklamy/">Аудит
                                                                таргетированной рекламы </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/audity-sajta/audit-reklamy-konkurentov/">Аудит
                                                                рекламы конкурентов </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/prodvizhenie-sajtov/razrabotka-digital-strategii/">Digital-стратегия
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/analitika/skvoznaya-analitika/">Сквозная
                                                                аналитика </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/reklama/reklama-v-google/">Google Ads </a></div>
                                                        <!-- <div class="sub-menu__item"><a href="/prodvizhenie-sajtov/kontekstnaya-reklama/reklama-facebook/">Facebook </a></div> -->
                                                        <div class="sub-menu__item"><a
                                                                href="/razvitie-sajta/price-adv/">Цены на услуги </a>
                                                        </div>
                                                    </div> --}}
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                                a class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/bannerpromotion.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a href="/sluzhba-podderzhki/support/"> <em
                                            style="background-image: url(/files/110/icon-mini-support.png);"></em>
                                        <ins></ins> Поддержка </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/sluzhba-podderzhki/support/">Техподдержка</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/reglament-rabot/">Регламент
                                                                работы</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/napolnenie-sajta/">Наполнение
                                                                сайтов</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/dizajn-i-verstka/">Дизайн
                                                                и верстка</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/perenos-sajta-na-rossijskuyu-cms/">Смена
                                                                CMS</a></div>
                                                        <div class="sub-menu__item"><a dorabotka-sajta=""
                                                                href="/sluzhba-podderzhki/support/dorabotka-sajta/"
                                                                sluzhba-podderzhki="" support="">Программирование</a>
                                                        </div>
                                                    </div>
                                                    {{!-- <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/sluzhba-podderzhki/tehpodderzhka-sajtov-na-bitriks/">Поддержка
                                                                Битрикс</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/dorabotka-sajta-na-1s-bitriks/">Доработка
                                                                сайта</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/perenos-sajta-na-cms-1s-bitriks/">Перенос
                                                                на Битрикс</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/integraciya-1s-bitriks-s-1s-predpriyatie/">Синхронизация
                                                                с 1С</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/obnovlenie-versii-cms-1s-bitriks/">Обновление
                                                                версии</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/smena-i-prodlenie-hostinga-sajta-na-bitriks/">Смена
                                                                хостинга</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/audit-sajta-na-1s-bitriks/">Аудит
                                                                сайта</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/ochistka-sajta-na-bitrikse-ot-virusov/">Лечение
                                                                вирусов</a></div>
                                                    </div> --}}
                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/sluzhba-podderzhki/hosting-webcanape/">Хостинг</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razvitie-sajta/hosting/">Тарифы хостинга</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/ssl-sertfikaty/">SSL-сертификаты</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/sluzhba-podderzhki/support/smena-i-prodlenie-hostinga-sajta/">Смена
                                                                хостинга</a></div>
                                                    </div>
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                             a class="disabled"  rel="nofollow" >&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/bitrix.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-header" sklayout="head">
                        <div class="b-sevice" sktag="menu.top">
                            <ul class="level-1" sktag="menu.top.level1">
                                <li class="item-1"><span><a href="/Прайс по разработке сайтов, интернет продвижению и.pptx" download>
                                            Прайс (скачать)</a></span> </li>
                                <li class="item-1"><span><a href="/portfolio/">
                                            Портфолио</a></span> </li>
                                <li class="item-1"><span><a href="/thanks/">
                                            Отзывы</a></span> </li>
                                <li class="item-1"><span><a href="/about/">О
                                            нас</a></span> </li>
                                <li class="item-1"><span><a href="/contacts/">
                                            Контакты</a></span> </li>
                            </ul>
                        </div>
                    </div>
                    <p class="pilot__btn hide-on-mobile "><a ajaxform="1" class="callback"
                            formname="service_order_popup" href="#" js_max_width="1150">Заказать услуги</a></p>
                </div>
            </div>
            <div class="container container-nopad">
                <div class="b-picture2" sklayout="head" sktag="page.head"></div>
            </div>