
<div class="container">
                <div class="b-sandwich js-sidebar-show show-on-tablet show-on-mobile"> <img
                        src="/files/110/sandwich.png" alt="" /> </div>
                <div class="b-pilot">
                    <div class="b-logo " ><a href="/"><img class="logo__image"
                                src="/files/1/logo.png"></a> </div>
                    <div class="pilot__1 hide-on-tablet hide-on-mobile">
                        <p class="pilot__btn hide-on-mobile"><a class="header_button callback"
                                 href="/#form">Заказать услуги</a></p>
                    </div>
                    <div class="pilot__2 hide-on-tablet hide-on-mobile">
                        <p class="pilot__icons hide-on-tablet hide-on-mobile"><a id="ref"
                                href="#"  class="disabled" rel="nofollow"><img src="/files/110/icon-phone2.png" /> Служба
                                поддержки</a></p>
                    </div>
                    <div class="pilot__3 hide-on-tablet hide-on-mobile">
                        <div class="b-head-contacts">
                            <div class="head-contacts__phone" ><a   style="font-size: 23px;" href="tel:+79093802519">8 (909) 380-25-19</a></div>
                            {{!-- Убрать style чтобы выровнить почту --}}
                            <noindex>
                                <div class="head-contacts__email"><a class="disabled"
                                        href="javascript:void(0)">г. Волгоград | 9:00-21:00</a></div>
                            </noindex>
                        </div>
                    </div>
                    <div class="pilot__4 hide-on-tablet hide-on-mobile">
                        {{!-- <p class="pilot__icons"><a href="/"><img src="/files/110/icon-phone.png" /> Служба поддержки</a></p> --}}
                    </div>
                    <div class="pilot__5 hide-on-tablet hide-on-mobile">
                        <div class="pilot__sale">
                            <p><a href="#" id="accia">Акция</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="js-fixed-menu2">
                <div class="container container-nopad sevice__fixed2__wrapper hide-on-tablet hide-on-mobile">
                    <div class="b-menu context" >
                        <div class="menu__inner">
                            <ul class="level-1" >
                                <li class="item-1"> <a href="#" class="disabled"  rel="nofollow"> 
                                         Сайты </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">

                                                        <div class="sub-menu__title"><a
                                                                href="/razrabotka-saitov/" >Разработка сайтов </a></div>
                                                        <div class="sub-menu__item"><a
                                                            href="/razrabotka-saitov/landing-page/">Лендинг (Landing page)
                                                        </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razrabotka-saitov/site-vizitka/">Сайт - Визитка
                                                            </a></div>
                                                        
                                                        <div class="sub-menu__item"><a
                                                            href="/razrabotka-saitov/site-katalog/">Сайт - Каталог
                                                        </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/razrabotka-saitov/site-magazin/">Интернет - Магазин
                                                            </a></div>
                                                        {{!-- <div class="sub-menu__item"><a
                                                                href="/razrabotka-saitov/cms-wordpress/">CMS WordPress
                                                            </a></div> --}}
                                           
                                                        
                                                    </div>

                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/banermen.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a  href="#" class="disabled" rel="nofollow"> 
                                       Продвижение </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">


                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/poiskovoe-prodvizenie/" >SEO-продвижение</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                            href="/poiskovoe-prodvizenie/seo-prodvizenie-yandex/">SEO в Яндексе
                                                        </a></div>
                                                        <div class="sub-menu__item"><a
                                                            href="/poiskovoe-prodvizenie/seo-prodvizenie-google/">SEO в Google
                                                        </a></div>
                                                        
                                                    </div>
                                                   
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/banermen.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a href="#" class="disabled" rel="nofollow"> 
                                        Реклама </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">


                                                    <div class="sub-menu__col">
                                                        <div class="sub-menu__title"><a
                                                                href="/digital-reklama/">Digital Реклама</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/digital-reklama/yandex-direct/">Яндекс Директ
                                                            </a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/digital-reklama/yandex-market/">Яндекс
                                                                Маркет </a></div>
                                                        
                                                    </div>
                                                   
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/banermen.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a href="#" class="disabled"  rel="nofollow"> 
                                        Поддержка </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">


                                                        <div class="sub-menu__title"><a href="/podderzka/">Техподдержка</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="/podderzka/dorabotka/">Доработка сайтов</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/podderzka/kontent/">Наполнение
                                                                сайтов</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="/podderzka/kupit-vpn/">Личный VPN</a></div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/banermen.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-1"> <a href="#" class="disabled"  rel="nofollow"> 
                                        Полиграфия </a>
                                    <div class="item-1-sub js-submenu">
                                        <div class="b-sub-menu">
                                            <div class="sub-menu__wrapper">
                                                <div class="sub-menu__left">
                                                    <div class="sub-menu__col">


                                                        <div class="sub-menu__title"><a href="https://kopi34.ru/" target="_blank">"KopiPrint"</a>
                                                        </div>
                                                        <div class="sub-menu__item"><a
                                                                href="https://kopi34.ru/vizitki"  target="_blank">Визитки</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="https://kopi34.ru/banner"  target="_blank">Баннеры</a></div>
                                                        <div class="sub-menu__item"><a
                                                                href="https://kopi34.ru/samokleyka" target="_blank">Самоклейки</a></div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="sub-menu__right hide-on-tablet hide-on-mobile">
                                                    <div class="sub-menu__banner"><a class="sub-menu__banner-link"
                                                            class="disabled"  rel="nofollow">&nbsp;</a>
                                                        <div class="sub-menu__banner-inner">
                                                            <div class="sub-menu__banner-pic"><img alt=""
                                                                    src="/files/110/ban21.jpg" /></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="b-header" sklayout="head">
                        <div class="b-sevice">
                            <ul class="level-1" >
                                
                                <li class="item-1"><span><a href="https://docs.google.com/spreadsheets/d/1HG0mkkAURdu3BvK3V95WTPXmKe-jf1CzCEk2IGr1Moo/edit?usp=sharing" download>

                                            Прайс 2023</a></span> </li>
                                            
                                <li class="item-1"><span><a href="/Портфолио_SEO-CY - 2022 год.xlsx" download>
                                            Портфолио ⬇️</a></span> </li>
                                <li class="item-1"><span><a href="/#otzyvy">
                                            Отзывы</a></span> </li>
                                <li class="item-1"><span><a href="/contacts/">
                                            Контакты</a></span> </li>
                            </ul>
                        </div>
                    </div>
                    <p class="pilot__btn hide-on-mobile "><a ajaxform="1" class="callback"
                            formname="service_order_popup" href="#form" js_max_width="1150">Заказать услуги</a></p>
                </div>
            </div>
            <div class="container container-nopad">
                <div class="b-picture2" sklayout="head" ></div>
            </div>