<div class="b-bannercenter" sklabel="bannerContentTop">
                <div class="container-full container-nopad">
                    <div class="b-steps">
                        <div class="container">
                            <div class="grid__row">
                                <div class="col-1-1">
                                    <h1>Разработка и продвижение сайтов<br /> с гарантией результата</h1>
                                </div>
                                <div class="col-4-12">
                                    <div class="steps__item">
                                        <div class="steps__item-inner">
                                            <div class="steps__content">
                                                <div class="steps__title"><a href="/razrabotka-sajta/">Разработка</a>
                                                </div>
                                                <div class="steps__subtitle">Качественный сайт<br /> по
                                                    <span>оптимальной цене</span></div>
                                                <div class="steps__info">
                                                    <p>Разрабатываем сайты, которые решают бизнес-задачи. За 14 лет нами
                                                        создано 2500+ проектов для компаний из 65 отраслей.</p>
                                                    <p>Возвращаем деньги если нарушим сроки.</p>
                                                </div>
                                            </div>
                                            <div class="steps__bottom">
                                                <!-- <div class="steps__price"> от&nbsp;<span class="steps__price-value">125 000&nbsp;₽</span> </div> -->
                                                <div class="steps__btn"><a href="/razrabotka-sajta/">подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4-12">
                                    <div class="steps__item">
                                        <div class="steps__item-inner">
                                            <div class="steps__content">
                                                <div class="steps__title"><a
                                                        href="/prodvizhenie-sajtov/seo/">Продвижение</a></div>
                                                <div class="steps__subtitle">Улучшение позиций сайта<br /> за <span>4
                                                        месяца</span></div>
                                                <div class="steps__info">
                                                    <p>Продвигаем сайты в поисковых системах. 1000 успешных проектов.
                                                    </p>
                                                    <p>Если не будет результатов &mdash; заплатим вам за невыполненные
                                                        обязательства.</p>
                                                </div>
                                            </div>
                                            <div class="steps__bottom">
                                                <!-- <div class="steps__price"> от<span class="steps__price-value">&nbsp;50 000&nbsp;₽</span >&nbsp;/ месяц </div> -->
                                                <div class="steps__btn"><a href="/prodvizhenie-sajtov/seo/">все
                                                        тарифы</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4-12">
                                    <div class="steps__item steps__item-2">
                                        <div class="steps__item-inner">
                                            <div class="steps__content">
                                                <div class="steps__title"><a
                                                        href="/reklama/kontekstnaya-reklama/">Интернет-реклама</a></div>
                                                <div class="steps__subtitle">Стабильный поток лидов<br /> через <span>7
                                                        дней</span></div>
                                                <div class="steps__info">
                                                    <p>Мы партнер по рекламе Яндекса с 2012 года. Запускаем
                                                        интернет-рекламу, вовлекаем клиентов в воронку продаж.</p>
                                                    <p>Фиксируем гарантии и KPI в договоре.</p>
                                                </div>
                                            </div>
                                            <div class="steps__bottom">
                                                <!-- <div class="steps__price"> от <span class="steps__price-value">30 000&nbsp;₽</span>&nbsp;/ месяц </div> -->
                                                <div class="steps__btn"><a href="/reklama/kontekstnaya-reklama/">все
                                                        тарифы</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="steps__benefits hide-on-mobile">
                                <div class="grid__row">
                                    <div class="col-1-1">
                                        <div class="steps__benefits-item">Топ-100 лучших<br /> студий Рунета</div>
                                        <div class="steps__benefits-item">Топ-5 по количеству<br /> проектов для
                                            малого<br /> бизнеса</div>
                                        <div class="steps__benefits-item hide-on-tablet hide-on-mobile">Топ-50
                                            агентств<br /> контекстной рекламы</div>
                                        <div class="steps__benefits-item">Топ-100 лучших<br /> SEO-компаний</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 