<div class="l-sidebar js-sidebar js-sidebar-hide"></div>
        <div class="l-sidebar_inner js-sidebar-inner">
            <div class="b-sidebar">
                {{!-- <div class="sidebar__close js-sidebar-hide"> <img src="/files/110/sidebar-close.png" alt="" /> </div> --}}
                <div class="sidebar__item sidebar__contacts">
                    <div class="b-head-contacts">
                        <div class="head-contacts__phone"><a href="tel:89956221475">8 995 622-14-675</a></div>
                        <noindex>
                            <div class="head-contacts__email"><a class="disabled" rel="nofollow" href="#">9:00-21:00</a>
                            </div>
                        </noindex>
                    </div>
                </div>
                <div class="sidebar__item sidebar__menu">


                    <ul>
                        <li><a href="/razrabotka-saitov/"><span>
                            <img src="/files/110/ficon3.png" alt="" /> 
                                        </span>Разработка сайтов</a></li>
                        <li><a href="/razrabotka-saitov/landing-page/"><span>
                                </span>Лендинги</a></li>
                        <li><a href="/razrabotka-saitov/site-vizitka/"><span> 
                                </span>Визитки</a></li>
                        <li><a href="/razrabotka-saitov/site-katalog/"><span> 
                            </span>Сайты-Каталоги</a>
                        </li>
                        <li><a href="/razrabotka-saitov/site-magazin/"><span> 
                            </span>Сайты-Магазины</a>
                        </li>
                        {{!-- <li><a href="/razrabotka-saitov/cms-wordpress/"><span> 
                            </span>CMS WordPress</a>
                        </li> --}}


         
                        <li><a href="/poiskovoe-prodvizenie/"><span>
                            <img src="/files/110/ficon3.png" alt="" /> 
                                        </span>SEO продвижение</a></li>
                        <li><a href="/poiskovoe-prodvizenie/seo-prodvizenie-yandex/"><span>
                                </span>SEO для Яндекс</a></li>
                        <li><a href="/poiskovoe-prodvizenie/seo-prodvizenie-google/"><span> 
                                </span>SEO для Google</a></li>


                        <li><a href="/digital-reklama/"><span>
                            <img src="/files/110/ficon3.png" alt="" /> 
                                        </span>Digital Реклама</a></li>
                        <li><a href="/digital-reklama/yandex-direct/"><span>
                                </span>Яндекс Директ</a></li>


                    </ul>
                </div>
            
                <div class="sidebar__item">
                   
                    <p class="pilot__btn hide-on-desktop hide-on-tablet"><a class="header_button js-sidebar-link"
                            href="">Заказать услуги</a></p>
                </div>
            </div>
        </div>