<div class="l-sidebar js-sidebar js-sidebar-hide"></div>
        <div class="l-sidebar_inner js-sidebar-inner">
            <div class="b-sidebar">
                {{!-- <div class="sidebar__close js-sidebar-hide"> <img src="/files/110/sidebar-close.png" alt="" /> </div> --}}
                <div class="sidebar__item sidebar__contacts">
                    <div class="b-head-contacts">
                        <div class="head-contacts__phone"><a href="tel:89956221475">8 995 622-14-675</a></div>
                        <noindex>
                            <div class="head-contacts__email"><a class="disabled" rel="nofollow" href="#">9:00-21:00</a>
                            </div>
                        </noindex>
                    </div>
                </div>
                <div class="sidebar__item sidebar__menu">
                    <ul>
                        <li><a href="/razrabotka-sajta/"><span>
                             {{!-- <img src="/files/293/icon-menu-10.png" alt="" /> --}}
                                </span>Сайты</a></li>
                        <li><a href="/prodvizhenie-sajtov/"><span> 
                            {{!-- <img src="/files/366/icon-menu-20.png" alt="" /> --}}
                                </span>Продвижение</a></li>
                        <li><a href="/reklama/"><span> 
                            {{!-- <img src="/files/491/ads-icon.png" alt="" />  --}}
                            </span>Реклама</a>
                        </li>
                        <li><a href="/sluzhba-podderzhki/support/"><span>
                            {{!-- <img src="/files/110/icon-mini-support.png" alt="" />  --}}
                                        </span>Поддержка</a></li>


                    <ul>
                        <li><a href="/razvitie-sajta/razrabotka/"><span>
                             {{!-- <img src="/files/295/icon-menu-30.png" alt="" /> --}}
                                         </span>Цены</a></li>
                        <li><a href="/portfolio/"><span> 
                            {{!-- <img src="/files/320/icon-menu-9.png" alt="" /> --}}
                                </span>Портфолио</a></li>
                        <li><a href="/keisi/"><span>
                             {{!-- <img src="/files/327/icon-menu-12.png" alt="" />  --}}
                             </span>Кейсы</a>
                        </li>
                        <li><a href="/thanks/"><span> 
                            {{!-- <img src="/files/234/icon-menu-10.png" alt="" /> --}}
                             </span>Отзывы</a>
                        </li>
                        <li><a href="/contacts/"><span> 
                            {{!-- <img src="/files/233/icon-menu-11.png" alt="" /> --}}
                                </span>Контакты</a></li>
                        <li><a target="_blank" href="#"><span>
                             {{!-- <img src="/files/620/vakansii.png" alt="" />  --}}
                             </span>Вакансии</a></li>
                    </ul>
                </div>
            
                <div class="sidebar__item">
                   
                    <p class="pilot__btn hide-on-desktop hide-on-tablet"><a class="header_button js-sidebar-link"
                            href="">Заказать услуги</a></p>
                </div>
            </div>
        </div>