<div class="whatsapp-call">
     
     <span class="pulse"><img alt="Гарантия стоимости" src="/files/1/send.png"></span>

     <div class="new-pos">
          <a href="https://api.whatsapp.com/send/?phone=79200000000" target="blank"><img class="m12" alt="Гарантия стоимости" src="/files/1/whatsapp.png"></a>
     </div>
     {{!-- <div class="new-pos ">
          <a href="https://api.whatsapp.com/send/?phone=79200000000"><img class="m12" alt="Гарантия стоимости" src="/files/1/telegramm.png"></a>
     </div> --}}

</div>

