<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="robots" content="index,follow" />
<!-- МЕТА-Данные -->
    <title>404</title>
    <meta name="description" content="404" />

<!-- Шаблонные -->
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="shortcut icon" href="/favicon.ico" type="image/png" />
    <link rel="preload" href="/fonts/OpenSansRegular/OpenSans-Regular-with-ruble.woff2" as="font"
        crossorigin="anonymous">
    <link rel="preload" href="/fonts/Raleway/RalewayRegular/Raleway-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/OpenSansBold/OpenSans-Bold-with-ruble.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/fonts/Raleway/RalewayBold/Raleway-Bold.woff2" as="font" crossorigin="anonymous">
    

<!-- CSS -->
    <link href="/assets/compile/style1.css" rel="stylesheet">
    <link href="/assets/compile/style4.css" rel="stylesheet">
    <link href="/assets/compile/style5.css" rel="stylesheet">
    <link href="/assets/compile/style6.css" rel="stylesheet">
    <link href="/assets/compile/style9.css" rel="stylesheet">
    <link href="/assets/compile/style15.css" rel="stylesheet">
    <link href="/assets/compile/style16.css" rel="stylesheet">
    <link href="/assets/compile/style17.css" rel="stylesheet">
    <link href="/assets/compile/style18.css" rel="stylesheet">
    <link href="/assets/compile/style19.css" rel="stylesheet">
    <link href="/assets/compile/style21.css" rel="stylesheet">
    <link href="/assets/compile/style22.css" rel="stylesheet">
    <link href="/assets/compile/style23.css" rel="stylesheet">
    <link href="/assets/compile/style24.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">

</head>

<body class="g-main" sktag="page">
    <div class="l-site_wrap js-body">
        <div class="l-site js-site">
            <div class="b-scrolltop js-scrolltop"></div>

            {{> header-menu}}
             <div class="container">
                <div class="b-title b-title--2">
                    <h1 >{{ h1 }}</h1>
                </div>
            </div> 
            




            <div class="b-solution-fancy b-solution-fancy_det">
                {{{body}}}
            </div>


            {{> footer-menu}}

        </div>
        {{> mobile-menu}}
    </div>
    {{> whatsapp}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascript.js"></script>
    {{> yandex-metrika}}
</body>

</html>