<div class="container">




{{!-- Работы в рамках создания сайта-визитк                        --}}
                    <div class="grid__row">
                        <div class="col-1-1">
                            <div class="b-headblock2 b-headblock2--mag">
                                <div class="headblock2__inner">
                                    <div class="headblock2__content">
                                        <h3 style="color: #3e3e3e; font-size: 190px;">404</h3>
                                        {{!-- <p itemprop="description">Сайт-визитка &mdash; это виртуальная визитная карточка
                                            компании. Если у вас небольшая компания или вы только запустили свой бизнес,
                                            создание сайта-визитки станет хорошим стартом. Обычно это недорогой сайт с
                                            лаконично изложенной информацией о компании и услугах. Его главная цель
                                            &mdash; повышать доверие к фирме, укреплять ее имидж и информировать о ее
                                            деятельности.&nbsp;Мы создаем сайты-визитки только на российских CMS.&nbsp;
                                        </p> --}}
                                    </div>
                                    {{!-- <div class="headblock2__tarif">
                                        <p><span class="headblock2__price">от 100 000 ₽ <span class="headblock2__time">/
                                                    14 дней</span></span></p>
                                        <div class="headblock2__btnbox"><a class="headblock2__btn" href="#form">Заказать
                                                сайт-визитку</a></div>
                                        <div class="b-headblock2__work"><span>Мы работаем с</span> <a
                                                href="/canape-cms/"><img alt="CanapeCMS"
                                                    src="/files/352/canapecms.png" /></a> <a
                                                href="https://www.web-canape.ru/razrabotka-sajta/sajty-na-bitriks/sajt-vizitka-na-bitriks/"
                                                target="_blank"><img alt="Битрикс" src="/files/110/bitrix.png" /></a>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
</div>