

         
               



               
<div class="container">




{{!-- Работы в рамках создания сайта-визитк                        --}}

                    <div class="grid__row">
                        <div class="col-1-1">
                            <div class="b-headblock2 b-headblock2--mag">
                                <div class="headblock2__inner">
                                    <div class="headblock2__content">
                                        <p itemprop="description">Сайт-визитка &mdash; это виртуальная визитная карточка
                                            компании. Если у вас небольшая компания или вы только запустили свой бизнес,
                                            создание сайта-визитки станет хорошим стартом. Обычно это недорогой сайт с
                                            лаконично изложенной информацией о компании и услугах. Его главная цель
                                            &mdash; повышать доверие к фирме, укреплять ее имидж и информировать о ее
                                            деятельности.&nbsp;Мы создаем сайты-визитки только на российских CMS.&nbsp;
                                        </p>
                                    </div>
                                    <div class="headblock2__tarif">
                                        <p><span class="headblock2__price">от 100 000 ₽ <span class="headblock2__time">/
                                                    14 дней</span></span></p>
                                        <div class="headblock2__btnbox"><a class="headblock2__btn" href="#form">Заказать
                                                сайт-визитку</a></div>
                                        <div class="b-headblock2__work"><span>Мы работаем с</span> <a
                                                href="/canape-cms/"><img alt="CanapeCMS"
                                                    src="/files/352/canapecms.png" /></a> <a
                                                href="https://www.web-canape.ru/razrabotka-sajta/sajty-na-bitriks/sajt-vizitka-na-bitriks/"
                                                target="_blank"><img alt="Битрикс" src="/files/110/bitrix.png" /></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



{{!-- Работы в рамках создания сайта-визитк                        --}}
                        <h2 class="b-center">Преимущества сайтов-визиток от WebCanape</h2>
                        <div class="b-site">
                            <div class="grid__row">
                                <div class="col-1-3 tablet-col-1-2">
                                    <div class="site__item">
                                        <div class="site__img"><img alt="Индивидуальный дизайн"
                                                src="/files/110/visit1-big.png" /></div>
                                        <div class="site__title">Индивидуальный дизайн</div>
                                        <p>Под каждый проект разрабатывается уникальный дизайн, решающий основную
                                            бизнес-задачу посетителей.</p>
                                    </div>
                                </div>
                                <div class="col-1-3 tablet-col-1-2">
                                    <div class="site__item">
                                        <div class="site__img"><img alt="Удобная система управления"
                                                src="/files/110/visit2-big.png" /></div>
                                        <div class="site__title">Удобная система управления</div>
                                        <p>Возможность быстрого внесения изменений в сайт, добавления новых блоков,
                                            управления настройками.</p>
                                    </div>
                                </div>
                                <div class="col-1-3 tablet-col-1-2">
                                    <div class="site__item">
                                        <div class="site__img"><img alt="Наполнение сайта"
                                                src="/files/110/visit3-big.png" /></div>
                                        <div class="site__title">Наполнение сайта</div>
                                        <p>Проработаем присланное нам наполнение сайта или напишем интересные тексты за
                                            дополнительную плату.</p>
                                    </div>
                                </div>
                                <div class="col-1-3 tablet-col-1-2">
                                    <div class="site__item">
                                        <div class="site__img"><img alt="SEO модуль" src="/files/110/visit4-big.png" />
                                        </div>
                                        <div class="site__title">SEO-модуль</div>
                                        <p>В сайт встроены все необходимые для Яндекса и Google SEO-настройки,
                                            улучшающие процесс индексации и повышающие позиции сайта.</p>
                                    </div>
                                </div>
                                <div class="col-1-3 tablet-col-1-2">
                                    <div class="site__item">
                                        <div class="site__img"><img alt="Быстрая скорость запуска"
                                                src="/files/110/visit5-big.png" /></div>
                                        <div class="site__title">Быстрый запуск</div>
                                        <p>С момента согласования техзадания до запуска сайта-визитки проходит около 3
                                            недель.</p>
                                    </div>
                                </div>
                                <div class="col-1-3 tablet-col-1-2">
                                    <div class="site__item">
                                        <div class="site__img"><img alt="Функциональность"
                                                src="/files/110/visit6-big.png" /></div>
                                        <div class="site__title">Функциональность</div>
                                        <p>Возможность разработки сложных программных модулей, калькуляторов, интеграций
                                            с другими сервисами.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="b-portfolio-carousel">
                                <div class="portfolio-carousel__head"> <span class="portfolio-carousel__head-text-1"> Мы
                                        разработали более </span> <span class="portfolio-carousel__head-text-2">
                                        <!-- 1800 -->3000 </span> <span class="portfolio-carousel__head-text-3"> сайтов
                                        из 65 отраслей </span> </div>
                                <div class="portfolio-carousel__see-all"> <a href="/portfolio/">Перейти в портфолио</a>
                                </div>
                                <div class="portfolio-carousel__carousel">
                                    <div class="js-carousel-portfolio">
                                        <div class="portfolio-carousel__item"> Разработка корпоративного сайта для
                                            института «МИРБИС» <img class="owl-lazy" alt=""
                                                data-src="/files/300/main-1920-mc-10-20220225132148-figuz.jpg" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/razrabotka-korporativnogo-sajta-dlya-instituta-mirbis/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Разработка лендинга бренда водки «Drink
                                            House» <img class="owl-lazy" alt=""
                                                data-src="/files/300/main-1920-mc-03-20220228173841-3xrlx.jpg" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/razrabotka-lendinga-brenda-vodki-drink-house/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Сайт для компании becker mining <img
                                                class="owl-lazy" alt=""
                                                data-src="/files/300/main-1920-ms-08-20201127120249-jckpv.jpg" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/sajt-dlya-kompanii-becker-mining/"></a> </div>
                                        <div class="portfolio-carousel__item"> Корпоративный сайт для компании Браво
                                            Софт <img class="owl-lazy" alt=""
                                                data-src="/files/300/suod-glavnaa-stranic-20210716173622-ya2hi.jpg" />
                                            <a class="portfolio-carousel__link"
                                                href="/portfolio/korporativnyj-sajt-dlya-kompanii-bravo-soft/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Сайт для оконной компании «Аконика» <img
                                                class="owl-lazy" alt=""
                                                data-src="/files/300/main-1920-ve-akonika-20201016184753-glptz.jpg" />
                                            <a class="portfolio-carousel__link"
                                                href="/portfolio/sajt-dlya-okonnoj-kompanii-akonika/"></a> </div>
                                        <div class="portfolio-carousel__item"> Редизайн сайта мебельного
                                            интернет-магазина <img class="owl-lazy" alt=""
                                                data-src="/files/300/verona-mebel.png" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/redizajn-sajta-mebelnogo-internet-magazina/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Модернизация сайта по внедрению решений
                                            комплексного мониторинга на предприятиях <img class="owl-lazy" alt=""
                                                data-src="/files/300/2020-06-01_12-38-39.png" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/modernizaciya-sajta-po-vnedreniyu-reshenij-kompleksnogo-monitoringa-na-predpriyatiyah/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Создание сайта для ремонтной компании из
                                            Москвы <img class="owl-lazy" alt=""
                                                data-src="/files/300/2020-02-27_13-50-27.jpg" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/sozdanie-sajta-dlya-remontnoj-kompanii-iz-moskvy/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Разработка сайта для системы мониторинга
                                            <img class="owl-lazy" alt=""
                                                data-src="/files/300/2019-01-28_11-55-37.jpg" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/razrabotka-sajta-dlya-sistemy-monitoringa/"></a> </div>
                                        <div class="portfolio-carousel__item"> Сайт для летной школы с каталогом курсов
                                            <img class="owl-lazy" alt="" data-src="/files/300/screenshot_120.png" /> <a
                                                class="portfolio-carousel__link"
                                                href="/portfolio/sajt-dlya-letnoj-shkoly-s-katalogom-kursov/"></a>
                                        </div>
                                        <div class="portfolio-carousel__item"> Разработка интернет-магазина эксклюзивных
                                            сувениров <img class="owl-lazy" alt="" data-src="/files/300/batyrev0.jpg" />
                                            <a class="portfolio-carousel__link"
                                                href="/portfolio/razrabotka-internet-magazina-eksklyuzivnyh-suvenirov/"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>





{{!-- Работы в рамках создания сайта-визитк  --}}
                        <h2 class="b-price-h2">Сколько стоит разработать сайт-визитку</h2>
                        <div class="b-price">
                            <div class="price__item">
                                <div class="price__head"><img src="/files/110/r_icon-big.png" /> от <span>100 000</span>
                                    рублей</div>
                                <div class="price__txt">
                                    <p>Главная цель такого ресурса &mdash; познакомить потенциальную аудиторию с
                                        компанией. Здесь нет сложной структуры, навороченных функций. Весь контент
                                        умещается на максимум 10 страницах. В лаконичной форме дана полезная информация:
                                    </p>
                                    <ul>
                                        <li>о компании,</li>
                                        <li>список услуг,</li>
                                        <li>прайс-листы,</li>
                                        <li>портфолио,</li>
                                        <li>контактные данные,</li>
                                        <li>формы заказа.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price__item">
                                <div class="price__head"><img src="/files/110/calendar_icon-big.png" /> от
                                    <span>14</span> дней</div>
                                <div class="price__txt">
                                    <p>Основные черты &mdash; краткость, запоминающийся дизайн, понятная навигация. В
                                        отличие от лендинга, главная задача которого продать или получить контакты прямо
                                        здесь и сейчас, онлайн-визитка преследует другие цели &mdash; она повышает
                                        доверие к компании, создает фундамент для сотрудничества.</p>
                                    <p>Это более доступное решение в сравнении, например, с <a
                                            href="/razrabotka-sajta/individualnye-resheniya/razrabotka-korporativnyh-sajtov/"
                                            target="_blank">корпоративным сайтом</a>. Однако во время создания
                                        сайта-визитки мы всегда предусматриваем возможности для его расширения &mdash;
                                        подключения интерактивных приложений, калькуляторов, каталога.</p>
                                    <p>Такой ресурс заказывают небольшие или начинающие фирмы, индивидуальные
                                        предприниматели и компании с несложным продуктом, которые не нуждаются в
                                        развернутом информационном освещении.</p>
                                    <p>Чтобы заказать сайт-визитку для своего бизнеса, отправьте нам заявку.</p>
                                </div>
                            </div>
                        </div>
                        <div class="b-raiting">
                            <div class="raiting__item">
                                <div class="raiting__number">
                                    <div class="raiting__count">14</div>
                                    <div class="raiting__title">место</div>
                                </div>
                                <div class="raiting__txt">Рейтинг веб-студий в среднем сегменте</div>
                            </div>
                            <div class="raiting__item">
                                <div class="raiting__number">
                                    <div class="raiting__count">3</div>
                                    <div class="raiting__title">место</div>
                                </div>
                                <div class="raiting__txt">Рейтинг студийных CMS</div>
                            </div>
                            <div class="raiting__item">
                                <div class="raiting__number">
                                    <div class="raiting__count">14</div>
                                    <div class="raiting__title">место</div>
                                </div>
                                <div class="raiting__txt">Рейтинг компаний, разрабатывающих сайты под ключ</div>
                            </div>
                            <div class="raiting__item">
                                <div class="raiting__number">
                                    <div class="raiting__count">18</div>
                                    <div class="raiting__title">место</div>
                                </div>
                                <div class="raiting__txt">Рейтинг агентств, занимающихся разработкой и продвижением
                                    сайтов</div>
                            </div>
                        </div>





{{!-- Работы в рамках создания сайта-визитк --}}                           
                        <div class="b-create">
                            <h2 class="b-price-h2">Работы в рамках создания сайта-визитки</h2>
                            <div class="grid__row">
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="адаптивный дизайн"
                                                src="/files/110/create1.png" /></div>
                                        <div class="create__text">Индивидуальный адаптивный дизайн</div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="Подключение CMS"
                                                src="/files/110/create2.png" /></div>
                                        <div class="create__text">Подключение системы управления контентом (CMS)</div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="настройка программных модулей"
                                                src="/files/110/create3.png" /></div>
                                        <div class="create__text">Подключение и&nbsp;настройка программных модулей</div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="Наполнение сайта"
                                                src="/files/110/create4.png" /></div>
                                        <div class="create__text">Наполнение сайта материалами заказчика</div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="Выкладка сайта на хостинг"
                                                src="/files/110/create5.png" /></div>
                                        <div class="create__text">Выкладка на&nbsp;хостинг из&nbsp;<a>списка
                                                совместимых</a></div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="Регистрация сайта в поисковых системах"
                                                src="/files/110/create6.png" /></div>
                                        <div class="create__text">Регистрация в&nbsp;системах статистики, поисковиках
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="Гарантийная поддержка"
                                                src="/files/110/create7.png" /></div>
                                        <div class="create__text">Гарантийная поддержка в&nbsp;течение года</div>
                                    </div>
                                </div>
                                <div class="col-1-4 tablet-col-1-2">
                                    <div class="create__item">
                                        <div class="create__img"><img alt="Базовое SEO-продвижение"
                                                src="/files/110/create8.png" /></div>
                                        <div class="create__text">Базовое SEO-продвижение</div>
                                    </div>
                                </div>
                            </div>
                        </div>





                    <div class="container">
                        <div class="b-benefitsblock b-benefitsblock_context">
                            <div class="grid__row">
                                <div class="push-4-12 col-8-12">
                                    <div class="benefitsblock__inner">
                                        <h2>Как работает реклама в&nbsp;Яндекс Дзене</h2>
                                        <div class="benefitsblock__list">
                                            <ul>
                                                <li>
                                                    <p class="benefitsblock__listtitle"><img alt=""
                                                            original="/files/500/bazovaya-optimizaciya.png"
                                                            src="/files/519/pervoe-kasanie.png" style="margin: 5px;" />
                                                        <strong>Первое касание</strong></p>
                                                    <p>Публикации показываются на&nbsp;главной странице поиска,
                                                        в&nbsp;Яндекс Браузере, на&nbsp;платформе Яндекс Дзен
                                                        и&nbsp;в&nbsp;мобильном приложении Дзена. Статьи будут показаны
                                                        тем пользователям, которые интересовались похожими темами,
                                                        читали подобные публикации или похожи на&nbsp;аудиторию статей
                                                        по&nbsp;той&nbsp;же теме.</p>
                                                </li>
                                                <li>
                                                    <p class="benefitsblock__listtitle"><img alt=""
                                                            original="/files/500/kontent-poleznyj.png"
                                                            src="/files/519/konversiya.png" style="margin: 5px;" />
                                                        <strong>Конверсия</strong></p>
                                                    <p>Долистав публикацию до&nbsp;конца, пользователь автоматически
                                                        перенаправляется на&nbsp;ваш сайт. Технология Scroll2Site
                                                        позволяет сделать переход на&nbsp;сайт максимально естественным
                                                        после прочтения статьи. По&nbsp;данным площадки на&nbsp;сайты
                                                        переходят от&nbsp;10% до&nbsp;30% дочитавших. Также
                                                        в&nbsp;статью можно вставить форму захвата <a
                                                            href="/prodvizhenie-sajtov/seo/po-lidam/" rel="noopener"
                                                            target="_blank">лидов</a>&nbsp;&mdash; так вы&nbsp;сможете
                                                        получать заявки прямо из&nbsp;публикации.</p>
                                                </li>
                                                <li>
                                                    <p class="benefitsblock__listtitle"><img alt=""
                                                            src="/files/519/zainteresovannost.png"
                                                            style="margin: 5px;" /> <strong>Заинтересованность</strong>
                                                    </p>
                                                    <p>Поскольку вы&nbsp;охватываете максимально близкую вашему продукту
                                                        аудиторию, вероятность того, что статью откроют, очень велика.
                                                        Открытие статьи в&nbsp;<a
                                                            href="/razvitie-sajta/content-marketing/tarify-po-kontentu/vedenie-kanala-v-yandeks-dzen/"
                                                            target="_blank">вашем канале Дзена</a> укрепляет связь
                                                        аудитории с&nbsp;вашим брендом.</p>
                                                </li>
                                                <li>
                                                    <p class="benefitsblock__listtitle"><img alt=""
                                                            original="/files/500/vneshnie-ssylki.png"
                                                            src="/files/519/prodazhi.png" style="margin: 5px;" />
                                                        <strong>Продажи</strong></p>
                                                    <p>Оказавшись на&nbsp;вашем сайте, пользователь может совершить
                                                        покупку, оставить заявку или позвонить вам. Кроме того,
                                                        на&nbsp;тех, кто пришел к&nbsp;вам на&nbsp;сайт из&nbsp;Дзена,
                                                        дочитал статью или просто открыл&nbsp;ее, можно <a
                                                            href="/reklama/remarketing/" target="_blank">настроить
                                                            ретаргетинг</a>&nbsp;&mdash; догоняющую рекламу, которая
                                                        подогреет интерес у&nbsp;аудитории, уже прикоснувшейся
                                                        к&nbsp;вашему бренду.</p>
                                                </li>
                                                <li>
                                                    <p class="benefitsblock__listtitle"><img alt=""
                                                            src="/files/519/vovlechennost.png" style="margin: 5px;" />
                                                        <strong>Вовлеченность</strong></p>
                                                    <p>В&nbsp;статье вы&nbsp;рассказываете о&nbsp;своем продукте,
                                                        описывается сферы и&nbsp;способы его применения. Читатель
                                                        изучает информацию о&nbsp;продвигаемом продукте,
                                                        а&nbsp;вы&nbsp;платите только за&nbsp;дочитывание вашей
                                                        рекламной публикации. Если читателю не&nbsp;заинтересовался
                                                        и&nbsp;бросил статью на&nbsp;половине, вы&nbsp;ничего
                                                        не&nbsp;платите.</p>
                                                </li>
                                                <li>
                                                    <p class="benefitsblock__listtitle"><img alt=""
                                                            src="/files/519/reshenie-raznyh-zadach.png"
                                                            style="margin: 5px;" /> <strong>Решение разных
                                                            задач</strong></p>
                                                    <p>В <a href="/prodvizhenie-sajtov/kontent-marketing/"
                                                            target="_blank">тексте публикаций</a> вы можете максимально
                                                        подробно и увлекательно рассказать о продукте. От формы подачи
                                                        зависит то, какую задачу будет решать статья &mdash;
                                                        стимулировать спрос или увеличивать продажи.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




{{!-- Золотой бекграунд --}}
                    <div class="container">
                        <div class="b-services">
                            <div class="services__inner">
                                <div class="b-capabilities">
                                    <h2 class="capabilities__head">Какие возможности даёт интеграция
                                        1С&nbsp;с&nbsp;сайтом на&nbsp;Битрикс?</h2>
                                    <div class="capabilities__content">
                                        <p>Сначала согласовываем с&nbsp;вами задачи, составляем техническое задание,
                                            дорабатываем модули и&nbsp;базы данных на&nbsp;сайте, полностью тестируем
                                            систему. Интеграцией занимаются только специалисты, прошедшие
                                            сертификацию&nbsp;&laquo;1С-Битрикс&raquo; &mdash; они сделают всё, чтобы не
                                            было сбоев в&nbsp;работе.</p>
                                    </div>
                                    <div class="grid__row">
                                        <div class="col-1-2 tablet-col-1-2">
                                            <div class="capabilities__item">
                                                <div class="capabilities__title"><span
                                                        class="capabilities__title-icon"><img alt=""
                                                            src="/files/110/benefitsblock-icon-4.png" /></span> <span
                                                        class="capabilities__title-text">Обмен данными</span></div>
                                                <div class="capabilities__content">В&nbsp;режиме реального времени можно
                                                    получать и&nbsp;передавать информацию о&nbsp;товарах, заказах,
                                                    ценах, остатках.</div>
                                            </div>
                                        </div>
                                        <div class="col-1-2 tablet-col-1-2">
                                            <div class="capabilities__item">
                                                <div class="capabilities__title"><span
                                                        class="capabilities__title-icon"><img alt=""
                                                            src="/files/110/benefitsblock-icon-5.png" /></span> <span
                                                        class="capabilities__title-text">Удобно для клиентов</span>
                                                </div>
                                                <div class="capabilities__content">Все заказы, даже с&nbsp;офлайн-точек,
                                                    будут учтены интернет-магазине. Клиенты смогут видеть статус заказа
                                                    на сайте, отслеживать его.</div>
                                            </div>
                                        </div>
                                        <div class="col-1-2 tablet-col-1-2">
                                            <div class="capabilities__item">
                                                <div class="capabilities__title"><span
                                                        class="capabilities__title-icon"><img alt=""
                                                            src="/files/110/benefitsblock-icon-2.png" /></span> <span
                                                        class="capabilities__title-text">Синхронизация со складом</span>
                                                </div>
                                                <div class="capabilities__content">Вы&nbsp;и&nbsp;посетители магазина
                                                    всегда сможете получить достоверную информацию о&nbsp;наличии товара
                                                    и&nbsp;складе, на&nbsp;котором он&nbsp;находится.</div>
                                            </div>
                                        </div>
                                        <div class="col-1-2 tablet-col-1-2">
                                            <div class="capabilities__item">
                                                <div class="capabilities__title"><span
                                                        class="capabilities__title-icon"><img alt=""
                                                            src="/files/110/capabilities-icon-5.png" /></span> <span
                                                        class="capabilities__title-text"> Наполнение каталога
                                                        и&nbsp;изменение цен</span></div>
                                                <div class="capabilities__content">Из&nbsp;1С&nbsp;можно выгрузить всю
                                                    номенклатуру или отдельные группы товаров. Все данные&nbsp;&mdash;
                                                    от&nbsp;скидок до&nbsp;фото&nbsp;&mdash; отобразятся на&nbsp;сайте,
                                                    будут своевременно обновляться.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>








{{!-- <!--Как мы работаем--> --}}           
                        <div class="create__footnote">
                            <h2>Что может входить в стоимость сайта-визитки</h2>
                        </div>
                        <div class="b-moduls">
                            <div class="grid__row">
                                <div class="col-1-3">
                                    <div class="moduls__item">
                                        <div class="moduls__title">Базовые программные модули</div>
                                        <ul class="moduls__text">
                                            <li>Управление структурой и содержанием Canape CMS с возможностью создания
                                                любого количества разделов</li>
                                            <li>Адаптивный дизайн и верстка</li>
                                            <li>Анимированный слайдер</li>
                                            <li>&laquo;Новости&raquo;, &laquo;Статьи&raquo;, &laquo;Блог&raquo;</li>
                                            <li>&laquo;Отзывы&raquo;, &laquo;Вопрос-ответ&raquo;</li>
                                            <li>&laquo;Фотогалерея&raquo;</li>
                                            <li>Модуль управления баннерами</li>
                                            <li>Формы обратной связи</li>
                                            <li>Соблюдение закона 152-ФЗ</li>
                                            <li>Поиск по сайту</li>
                                            <li>Резервное копирование</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="moduls__item">
                                        <div class="moduls__title">Модули поисковой оптимизации</div>
                                        <ul class="moduls__text">
                                            <li>Настройка SEO-параметров</li>
                                            <li>Ускорение загрузки страниц</li>
                                            <li>Верстка под требования SEO</li>
                                            <li>SEO-шаблоны для разделов</li>
                                            <li>SEO-шаблоны для товаров</li>
                                            <li>Формирование sitemap</li>
                                            <li>Формирование robots.txt</li>
                                            <li>Управление HTTPS</li>
                                            <li>Модуль настройки редиректов</li>
                                            <li>Микроразметка Shema.org</li>
                                            <li>Микроразметка Open Graph</li>
                                            <li>Настройка Яндекс Вебмастер</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-1-3">
                                    <div class="moduls__item">
                                        <div class="moduls__title">Дополнительные программные модули</div>
                                        <ul class="moduls__text">
                                            <li>Калькуляторы расчета стоимости услуг</li>
                                            <li>Интеграция с CRM системами</li>
                                            <li>Интеграция с 1С</li>
                                            <li>Интеграция с системами доставки</li>
                                            <li>Мультирегиональность</li>
                                            <li>Системы онлайн-платежей</li>
                                            <li>Дополнительная языковая версия</li>
                                            <li>RSS, YML и XML выгрузки</li>
                                            <li>Личные кабинеты, авторизация</li>
                                            <li>Сквозная аналитика</li>
                                            <li>Голосование, опросы</li>
                                            <li>Персональные доработки</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>




{{!-- <!--Как мы работаем--> --}}         
                        <div class="b-work">
                            <h2>Как мы работаем</h2>
                            <div class="work__items">
                                <div class="work__item"><img class="work__image" src="/files/110/work.png" />
                                    <div class="work__title">Начало работы</div>
                                    <div class="work__text">Просто отправьте запрос, и наши менеджеры перезвонят вам
                                    </div> <img class="work__next" src="/files/110/work-next.png" />
                                </div>
                                <div class="work__item"><img class="work__image" src="/files/110/work2.png" />
                                    <div class="work__title">Сбор информации</div> <img class="work__next"
                                        src="/files/110/work-next.png" />
                                    <div class="work__text">Сбор материалов и согласования с вами общей концепции</div>
                                </div>
                                <div class="work__item"><img class="work__image" src="/files/110/work3.png" />
                                    <div class="work__title">Разработка сайта</div>
                                    <div class="work__text">Дизайн, программирование, наполнение и тестирование вашего
                                        сайта</div> <img class="work__next" src="/files/110/work-next.png" />
                                </div>
                                <div class="work__item"><img class="work__image" src="/files/110/work4.png" />
                                    <div class="work__title">Сдача проекта</div>
                                    <div class="work__text">Финальное согласование и обучение вас пользованию готовым
                                        сайтом</div> <img class="work__next" src="/files/110/work-next.png" />
                                </div>
                                <div class="work__item"><img class="work__image" src="/files/110/work4.png" />
                                    <div class="work__title">Поддержка</div>
                                    <div class="work__text">Техническая поддержка, реклама, продвижение сайта</div>
                                </div>
                            </div> <a ajaxform="1" class="work__btn callback hide-on-mobile"
                                formname="service_order_popup" href="#" js_max_width="1150">Отправить заявку
                                менеджеру</a>
                        </div> 
                        
                        
                        
                        
                        
{{!-- <!--Как мы работаем--> --}}
                        <div class="container">
                            <div class="services__inner">
                                <div class="b-capabilities">
                                    <div class="b-plan">
                                        <h2 class="capabilities__head" style="font-family:'Raleway', sans-serif">Как
                                            заказать сайт-визитку</h2>
                                        <div class="plan__content">
                                            <div class="plan__item">
                                                <div class="plan__number">01</div>
                                                <div class="plan__title">Знакомимся</div>
                                                <div class="plan__txt">
                                                    <p>Наши менеджеры обработают ваш запрос. Мы&nbsp;проведем
                                                        с&nbsp;вами интервью, выявим особенности вашего бизнеса, обсудим
                                                        ваше видение сайта, стратегию сотрудничества. В&nbsp;договоре
                                                        пропишем все важные моменты.</p>
                                                </div>
                                            </div>
                                            <div class="plan__item">
                                                <div class="plan__number">02</div>
                                                <div class="plan__title">Анализируем</div>
                                                <div class="plan__txt">
                                                    <p>Мы&nbsp;тщательно изучим вашу сферу, проанализируем конкурентов.
                                                        Вместе составим техническое задание и&nbsp;согласуем концепцию.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="plan__item">
                                                <div class="plan__number">03</div>
                                                <div class="plan__title">Разрабатываем</div>
                                                <div class="plan__txt">
                                                    <p>На&nbsp;этом этапе команда WebCanape воплотит в&nbsp;жизнь ваши
                                                        пожелания в&nbsp;соответствии с&nbsp;ТЗ по&nbsp;разработке
                                                        сайта. Дизайнеры подготовят макет, подберут стильные цветовые
                                                        сочетания, сделают узнаваемый образ. Цель
                                                        веб-разработчиков&nbsp;&mdash; создать сайт удобным, понятным
                                                        для пользователей. Контент-менеджеры наполнят страницы
                                                        качественным контентом. Финальная часть&nbsp;&mdash;
                                                        тестирование и&nbsp;внесение доработок по&nbsp;вашим правкам.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="plan__item">
                                                <div class="plan__number">04</div>
                                                <div class="plan__title">Сдаем проект</div>
                                                <div class="plan__txt">
                                                    <p>Разместим сайт на&nbsp;хостинге и&nbsp;обучим вас всем тонкостям
                                                        обращения с&nbsp;ним.</p>
                                                </div>
                                            </div>
                                            <div class="plan__item">
                                                <div class="plan__number">05</div>
                                                <div class="plan__title">Поддерживаем</div>
                                                <div class="plan__txt">
                                                    <p>Мы&nbsp;обеспечим бесперебойную работу сайта. А&nbsp;чтобы
                                                        привлечь посетителей, наши маркетологи создадут и&nbsp;запустят
                                                        рекламную кампанию, помогут с&nbsp;продвижением.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




{{!-- Популярные услуги        --}}
                        <h2 style="text-align:center;">Популярные услуги, которые выбирают наши клиенты</h2>
                        <div class="b-types-of-site">
                            <div class="types-of-site__item">
                                <div class="types-of-site__img"><a href="#"><img src="/files/110/type-2.png" /></a>
                                </div>
                                <div class="types-of-site__title"><a href="/prodvizhenie-sajtov/seo/lendingov/"
                                        target="_blank">SEO сайта визитки</a></div>
                                <div class="types-of-site__price">от&nbsp;<span>55&nbsp;000&nbsp;₽</span></div>
                                <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div>
                                <div class="types-of-site__link">&nbsp;</div> <a class="types-of-site__link"
                                    href="/prodvizhenie-sajtov/seo/lendingov/" target="_blank"><span>SEO сайта
                                        визитки</span></a>
                            </div>
                            <div class="types-of-site__item">
                                <div class="types-of-site__img"><a href="#"><img src="/files/110/type-1.png" /></a>
                                </div>
                                <div class="types-of-site__title"><a href="/reklama/kontekstnaya-reklama/"
                                        target="_blank">Реклама сайта визитки</a></div>
                                <div class="types-of-site__price">от&nbsp;<span>25&nbsp;000&nbsp;₽</span></div>
                                <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div> <a
                                    class="types-of-site__link" href="/reklama/kontekstnaya-reklama/"
                                    target="_blank"><span>Реклама сайта визитки</span> </a>
                            </div>
                            <div class="types-of-site__item">
                                <div class="types-of-site__img"><a href="#"><img src="/files/110/type-3.png" /></a>
                                </div>
                                <div class="types-of-site__title"><a
                                        href="/razrabotka-sajta/sajty-na-tilda/sajt-vizitka-na-tilda/"
                                        target="_blank">Сайт-визитка на Tilda</a></div>
                                <div class="types-of-site__price">от&nbsp;<span>70&nbsp;000&nbsp;₽</span></div>
                                <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div> <a
                                    class="types-of-site__link"
                                    href="/razrabotka-sajta/sajty-na-tilda/sajt-vizitka-na-tilda/"
                                    target="_blank"><span>Сайт-визитка на Tilda</span></a>
                            </div>
                            <div class="types-of-site__item">
                                <div class="types-of-site__img"><a href="#"><img src="/files/110/type-4.png" /></a>
                                </div>
                                <div class="types-of-site__title"><a href="/sluzhba-podderzhki/tarify/"
                                        target="_blank">Техническая поддержка</a></div>
                                <div class="types-of-site__price">от&nbsp;<span>25 000&nbsp;₽</span></div>
                                <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div> <a
                                    class="types-of-site__link" href="/sluzhba-podderzhki/tarify/"
                                    target="_blank"><span>Техническая поддержка</span></a>
                            </div>
                        </div> 
                        
                        
{{!-- <!--Часто задаваемые вопросы--> --}}
                        <div class="b-faq" itemscope="" itemtype="https://schema.org/FAQPage">
                            <h2>Часто задаваемые вопросы</h2>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>На&nbsp;каких CMS лучше делать сайт-визитку?</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Для разработки сайта-визитки идеально подойдут Canape CMS
                                            или Тильда. </span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Какая разница между сайтом-визиткой и&nbsp;корпоративным сайтом?</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Сайт визитка&nbsp;&mdash; это небольшой сайт, который
                                            содержит основную информацию об&nbsp;организации, частном лице или услуге.
                                            На&nbsp;нем мало дополнительный страниц, простой и&nbsp;шаблонный
                                            функционал. Корпоративный сайт отличается более сложным наполнением, ярким
                                            фирменным стилем и&nbsp;дополнительными функциями, такие как форма подписки,
                                            каталог и&nbsp;технические модули. </span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Могу&nbsp;ли я&nbsp;после разработки сам управлять сайтом?</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Да, можете. Мы&nbsp;делаем проекты на&nbsp;<a
                                                href="/canape-cms/" rel="noopener" target="_blank">Canape CMS</a>, <a
                                                href="/razrabotka-sajta/sajty-na-bitriks/" rel="noopener"
                                                target="_blank">1С-Битрикс</a> и&nbsp;<a
                                                href="/razrabotka-sajta/sajty-na-tilda/" rel="noopener"
                                                target="_blank">Tilda</a>. Эти системы управления доступны для обычных
                                            пользователей без знаний в&nbsp;программировании. Перед запуском
                                            сайта-визитки мы&nbsp;научим вас работать в&nbsp;панели администратора.
                                            Добавление разделов, товаров, описаний, корректировка контактных данных
                                            и&nbsp;форм&nbsp;&mdash; это вы&nbsp;сможете выполнять сами.</span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Что, если мне не&nbsp;понравится результат?</p> <img src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Эта вероятность сведена к&nbsp;минимуму за&nbsp;счет того,
                                            что мы&nbsp;составляем коммерческое предложение, где подробно описываем,
                                            какой результат вы&nbsp;получите: функциональные модули, структуру, что
                                            будет входить в&nbsp;базовое наполнение, и&nbsp;объем работы каждого
                                            специалиста.<br /> Если готовый сайт-визитка на&nbsp;Битрикс будет иметь
                                            нестандартные решения, то&nbsp;мы&nbsp;разработаем техническое
                                            задание.<br /> Результат каждого этапа мы&nbsp;согласуем с&nbsp;вами
                                            и&nbsp;в&nbsp;случае, если он&nbsp;противоречит&nbsp;ТЗ, мы&nbsp;вносим
                                            правки.</span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Где гарантии, что вы&nbsp;не&nbsp;пропадете после предоплаты?</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Это исключено. Перед началом работы над сайтом-визиткой
                                            на&nbsp;Битрикс мы&nbsp;составляем официальный договор, где описаны все
                                            условия сотрудничества. Наше юридическое лицо существует с&nbsp;2008 года
                                            и&nbsp;по&nbsp;данным ФНС РФ&nbsp;числится как надежное. Кроме этого,
                                            мы&nbsp;имеем хорошую репутацию, доказательство&nbsp;&mdash; множество
                                            отзывов в&nbsp;открытых источниках. Уровень нашей квалификации
                                            вы&nbsp;можете проверить в&nbsp;официальном Рейтинге Рунета.</span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Что нужно будет от&nbsp;меня во&nbsp;время разработки?</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Если вы&nbsp;хотите сайт-визитку на&nbsp;Битрикс, важно,
                                            чтобы вы&nbsp;или ваш маркетолог были включены в&nbsp;процесс согласования
                                            всех этапов разработки, предоставляли информацию и&nbsp;оперативно давали
                                            обратную связь.</span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Почему у&nbsp;вас так дорого? На&nbsp;фрилансе делают дешевле.</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Да, программист на&nbsp;фрилансе сделает дешевле. Как
                                            правило, в&nbsp;его стоимость не&nbsp;входят услуги дизайнера, копирайтера,
                                            маркетолога. А&nbsp;это дополнительные расходы денег, вашего времени.
                                            Заказывая у&nbsp;нас, вы&nbsp;гарантированно сотрудничаете с&nbsp;командой
                                            профессионалов, которая выполнит разработку сайта на&nbsp;Битрикс &laquo;под
                                            ключ&raquo;, и&nbsp;вам не&nbsp;придется нигде ничего доделывать.</span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Оказываете&nbsp;ли вы&nbsp;услуги SEO-продвижения и&nbsp;рекламы сайта-визитки?
                                    </p> <img src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Да. Это одна из&nbsp;наших специализаций. После разработки
                                            сайта-визитки мы&nbsp;можем взять его на&nbsp;продвижение. Создать
                                            маркетинговую стратегию, запустить лидогенерацию через наиболее эффективные
                                            для вашего бизнеса каналы: SEO, контекстная реклама, контент-маркетинг.
                                        </span></p>
                                </div>
                            </div>
                            <div class="faq__content" itemprop="mainEntity" itemscope=""
                                itemtype="https://schema.org/Question">
                                <div class="faq__question" itemprop="name">
                                    <p>Сколько стоит дальнейшее сопровождение сайта-визитки?</p> <img
                                        src="/files/110/plus.png" />
                                </div>
                                <div class="faq__answer" itemprop="acceptedAnswer" itemscope=""
                                    itemtype="https://schema.org/Answer">
                                    <p><span itemprop="text">Денег за&nbsp;сопровождение мы&nbsp;не&nbsp;берем. После
                                            запуска сайта-визитки, предоставляем 1&nbsp;год гарантийного обслуживания
                                            на&nbsp;случай, если что-то сломается. Если вам нужно сделать какие-то
                                            доработки на&nbsp;сайте, то&nbsp;они оцениваются отдельно
                                            и&nbsp;оплачиваются по&nbsp;факту выполнения этих работ. С&nbsp;вами будет
                                            сотрудничать персональный менеджер. </span></p>
                                </div>
                            </div>
                        </div>




{{!-- Преимущества --}}
                        <div class="b-gray-block">
                            <h2 class="b-price-h2">Разработка сайта-визитки под ключ в&nbsp;WebCanape</h2>
                            <div class="b-plus">
                                <div class="plus__item">
                                    <div class="plus__title">
                                        <div class="plus__img"><img src="/files/110/plus-1-big.png" /></div>
                                        <div class="plus__name">Фокус на&nbsp;повышение продаж</div>
                                    </div>
                                    <div class="plus__txt">Посетитель вашего сайта за&nbsp;3&nbsp;секунды поймет, что
                                        он&nbsp;нашел&nbsp;то, что искал, и&nbsp;приступит к&nbsp;выбору товаров или
                                        услуг.</div>
                                </div>
                                <div class="plus__item">
                                    <div class="plus__title">
                                        <div class="plus__img"><img src="/files/110/plus-2-big.png" /></div>
                                        <div class="plus__name">Быстрый запуск</div>
                                    </div>
                                    <div class="plus__txt">Отлаженный производственный процесс WebCanape позволяет
                                        запускать сайты быстро.</div>
                                </div>
                                <div class="plus__item">
                                    <div class="plus__title">
                                        <div class="plus__img"><img src="/files/110/plus-3-big.png" /></div>
                                        <div class="plus__name">Обновление программной платформы</div>
                                    </div>
                                    <div class="plus__txt">Программная платформа Canape CMS обновляется по&nbsp;вашему
                                        запросу за&nbsp;минимальную стоимость.</div>
                                </div>
                                <div class="plus__item">
                                    <div class="plus__title">
                                        <div class="plus__img"><img src="/files/110/plus-4-big.png" /></div>
                                        <div class="plus__name">Базовая поисковая оптимизация</div>
                                    </div>
                                    <div class="plus__txt">При создании сайта выполняются все правила базовой поисковой
                                        оптимизации, что позволяет легко продвигать ресурс.</div>
                                </div>
                                <div class="plus__item">
                                    <div class="plus__title">
                                        <div class="plus__img"><img src="/files/110/plus-5-big.png" /></div>
                                        <div class="plus__name">Единое восприятие на&nbsp;различных устройствах</div>
                                    </div>
                                    <div class="plus__txt">Мы&nbsp;проверяем сайт на&nbsp;корректность отображения
                                        в&nbsp;основных операционных системах, браузерах.</div>
                                </div>
                                <div class="plus__item">
                                    <div class="plus__title">
                                        <div class="plus__img"><img src="/files/110/plus-6-big.png" /></div>
                                        <div class="plus__name">Прохождение тестов поисковых систем</div>
                                    </div>
                                    <div class="plus__txt">Сайты от&nbsp;WebCanape проходят тесты поисковых систем
                                        на&nbsp;корректность и&nbsp;скорость работы.</div>
                                </div>
                            </div>
                        </div>





{{!-- ОТЗЫВЫ --}}
                        <div class="container">
                            <noindex>
                                <div class="b-guestbox" sktag="modules.guestbox">
                                    <h2>Отзывы наших клиентов</h2>
                                    <div class="guestbox__msgtext"></div>
                                    <div class="grid__row">
                                        <div class="col-4-12 tablet-col-6-12">
                                            <div class="guestbox__item guestbox__item_first">
                                                <div class="guestbox__odometer"> <span id="odometer"
                                                        class="odometer">85</span><span
                                                        class="guestbox__odometer-percent">%</span> </div>
                                                <p>довольных клиентов</p>
                                            </div>
                                        </div> <span id="js-ajax_reviewlist">
                                            <div class="col-4-12 tablet-col-6-12">
                                                <div class="guestbox__item">
                                                    <div class="guestbox__head">
                                                        <div class="guestbox__icon"><img
                                                                src="/files/110/guestbox-icon.png" alt=""></div>
                                                        <div class="guestbox__date">24.01.2023</div>
                                                        <div class="guestbox__website"> <span>nextcontact.ru</span>
                                                        </div>
                                                    </div>
                                                    <div class="guestbox__name"> </div>
                                                    <div class="guestbox__rating">
                                                        <div class="b-ratbox">
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                        </div>
                                                    </div>
                                                    <div class="b-editor guestbox__text js-review"
                                                        style="max-height: none;">
                                                        <p>Мы остались довольны работой Алексея, он показал себя
                                                            профессионалом, который не боится предлагать новые идеи и
                                                            решения. Все поставленные задачи специалисты выполняют
                                                            вовремя, если есть дополнительные запросы, то тоже
                                                            оперативно берут их в работу. Мы готовы порекомендовать
                                                            WebCanape всем заинтересованным.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4-12 tablet-col-6-12">
                                                <div class="guestbox__item">
                                                    <div class="guestbox__head">
                                                        <div class="guestbox__icon"><img
                                                                src="/files/110/guestbox-icon.png" alt=""></div>
                                                        <div class="guestbox__date">23.01.2023</div>
                                                        <div class="guestbox__website"> <span>polimaks.ru</span> </div>
                                                    </div>
                                                    <div class="guestbox__name"> <span>Дмитрий</span> </div>
                                                    <div class="guestbox__rating">
                                                        <div class="b-ratbox">
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                        </div>
                                                    </div>
                                                    <div class="b-editor guestbox__text js-review"
                                                        style="max-height: none;">
                                                        <p>Работу по SEO запустили в начале июля 2022 года. Целями
                                                            проекта было привлечение новых покупателей и увеличение
                                                            продаж. Уже с первых месяцев работы удалось достичь
                                                            увеличения трафика в поисковых системах за счет эффективной
                                                            работы специалистов. На сегодняшний день в среднем
                                                            прирастаем 10+% поискового трафика и планируем перейти на
                                                            продвижение по лидам.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4-12 tablet-col-6-12">
                                                <div class="guestbox__item">
                                                    <div class="guestbox__head">
                                                        <div class="guestbox__icon"><img
                                                                src="/files/110/guestbox-icon.png" alt=""></div>
                                                        <div class="guestbox__date">23.01.2023</div>
                                                        <div class="guestbox__website"> <span>www.osnova-td.ru</span>
                                                        </div>
                                                    </div>
                                                    <div class="guestbox__name"> <span>Алла</span> </div>
                                                    <div class="guestbox__rating">
                                                        <div class="b-ratbox">
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                        </div>
                                                    </div>
                                                    <div class="b-editor guestbox__text js-review"
                                                        style="max-height: none;">
                                                        <p>Впервые за долгие годы работы в коммерческой деятельности
                                                            удалось поработать с такой профессиональной работой целой
                                                            команды разработчиков сайта. Все пожелания выполнялись в
                                                            срок, на недоработки с точки зрения профессионала
                                                            указывалось тактично и очень грамотно, масса дополнительных
                                                            &laquo;хотелок&raquo; принимались к сведению терпеливо и без
                                                            нареканий. Работа с ведущим менеджером Мартыновым Алексеем и
                                                            сопровождающих коллег заслуживает оценки
                                                            &laquo;отлично&raquo;.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4-12 tablet-col-6-12">
                                                <div class="guestbox__item">
                                                    <div class="guestbox__head">
                                                        <div class="guestbox__icon"><img
                                                                src="/files/110/guestbox-icon.png" alt=""></div>
                                                        <div class="guestbox__date">15.01.2023</div>
                                                        <div class="guestbox__website"> <span>gkmp-spb.ru</span> </div>
                                                    </div>
                                                    <div class="guestbox__name"> </div>
                                                    <div class="guestbox__rating">
                                                        <div class="b-ratbox">
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                        </div>
                                                    </div>
                                                    <div class="b-editor guestbox__text js-review"
                                                        style="max-height: none;">
                                                        <p>Доволен работой менеджера Юлии. Задачи выполнены оперативно и
                                                            качественно, особенно срочные, которые сразу берут в
                                                            приоритет. Если по началу были замечания с моей стороны, то
                                                            в дальнейшем к выполненным работам не было никаких
                                                            нареканий. Доволен сотрудничеством. Рекомендую</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4-12 tablet-col-6-12">
                                                <div class="guestbox__item">
                                                    <div class="guestbox__head">
                                                        <div class="guestbox__icon"><img
                                                                src="/files/110/guestbox-icon.png" alt=""></div>
                                                        <div class="guestbox__date">11.01.2023</div>
                                                        <div class="guestbox__website"> <span>cnc360.ru</span> </div>
                                                    </div>
                                                    <div class="guestbox__name"> </div>
                                                    <div class="guestbox__rating">
                                                        <div class="b-ratbox">
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                            <div class="ratbox__item ratbox__itemon"></div>
                                                        </div>
                                                    </div>
                                                    <div class="b-editor guestbox__text js-review"
                                                        style="max-height: none;">
                                                        <p>О команде WebCanape можем сказать только хорошее: отличная
                                                            работа менеджера Евгения, точное выполнение работ и
                                                            реализация их в указанные сроки, отсутствие ошибок. Все
                                                            услуги, которые они нам порекомендовали и оказывают
                                                            положительно сказываются на бизнесе. Итоговыми результатами
                                                            довольны.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                        <div class="col-1-1">
                                            <div class="guestbox__seemore"> Всего отзывов 672. <span><a
                                                        class="js-getnext_review_list" js-cmd="getNextReviewAjax"
                                                        js-section="310" js-count="5" js-page="2"
                                                        href="#js-ajax_reviewlist">Показать еще</a></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </noindex>
                        </div>


</div>
                        