
            
            
            
            
            <!-- КОНТЕНТ БЕЗ ЛЕВОГО и ПРАВОГО МЕНЮ -->
            <div class="container">
                <div class="b-editor" >
                    <div class="b-gray">
                        <div class="b-want-guarantee">
                            <div class="want-guarantee__inner">
                                <h2>SEO-First - digital-агентство<br /> с обширным опытом SEO-продвижения</h2>
                                <div class="want-guarantee__text">Нашим главным преимуществом является направленность на поисковую оптимизацию. Мы работаем на результат. Если вам нужен надежный помошник в бурном и постояннно меняющимся океане digital продвижения по выгодной цене, то вы нашли его. С нами вы всегда на гребне новых течений.</div>
                            </div>
                        </div> <!-- -->
                        <div class="b-guarantee">
                            <div class="guarantee__inner">
                                <h2>Мы гарантируем качество наших работ или возвращаем деньги!</h2>
                                <div class="guarantee__items">
                                    <div class="guarantee__item">
                                        <div class="guarantee__imgbox"><img alt="Гарантия сроков"
                                                src="/files/110/garant1.png" /></div>
                                        <div class="guarantee__name">Гарантия сроков</div>
                                        <div class="guarantee__desc">В случае нарушения сроков пересчитаем стоимость
                                            услуг.</div>
                                    </div>
                                    <div class="guarantee__item">
                                        <div class="guarantee__imgbox"><img alt="Гарантия сервиса"
                                                src="/files/110/garant2.png" /></div>
                                        <div class="guarantee__name">Гарантия сервиса</div>
                                        <div class="guarantee__desc">Мы гарантируем, что все ваши вопросы будут разрешены надлежащим образом и в срок.</div>
                                    </div>
                                    <div class="guarantee__item">
                                        <div class="guarantee__imgbox"><img alt="Гарантия результата"
                                                src="/files/110/garant3.png" /></div>
                                        <div class="guarantee__name">Гарантия результата</div>
                                        <div class="guarantee__desc">Если мы не достигнем  поставленных результатов - вернем деньги в полном объеме.</div>
                                    </div>
                                    <div class="guarantee__item">
                                        <div class="guarantee__imgbox"><img alt="Гарантия стоимости"
                                                src="/files/110/garant4.png" /></div>
                                        <div class="guarantee__name">Гарантия стоимости</div>
                                        <div class="guarantee__desc">Мы гарантируем лучшие цены на рынке. Если вы найдете цену ниже - вернем разницу..</div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- -->
                        <div class="b-text-block">
                            <div class="b-places-imgs">
                                <div class="places-imgs__title">НАШИ НАГРАДЫ</div>
                                <div class="places-imgs__wrapper">
                                    <div class="places-imgs__item">
                                        <div class="places-imgs__img-wrapper"><a
                                                href="#" class="disabled"  rel="nofollow"><img
                                                    alt="Золотой сайт 2022" loading="lazy"
                                                    src="/files/1/sert1.png" /> </a></div>
                                        <div class="places-imgs__text">
                                            <p class="places-imgs__heading">Золотой партнер</p>
                                            <p class="places-imgs__bottom-text">Партнер 1С битрикс</p>
                                        </div>
                                    </div>
                                    <div class="places-imgs__item">
                                        <div class="places-imgs__img-wrapper"><a
                                                href="#" class="disabled"  rel="nofollow"><img
                                                    alt="Бизнес успех" loading="lazy"
                                                    src="/files/1/sert.png" /> </a></div>
                                        <div class="places-imgs__text">
                                            <p class="places-imgs__heading">Золотой партнер</p>
                                            <p class="places-imgs__bottom-text">1С Bitrix <br />
                                                Коробочная версия</p>
                                        </div>
                                    </div>
                                    <div class="places-imgs__item">
                                        <div class="places-imgs__img-wrapper"><a
                                                href="#" class="disabled"  rel="nofollow"><img
                                                    alt="Золотой сайт 2021" loading="lazy"
                                                    src="/files/1/sert2.png" /> </a></div>
                                        <div class="places-imgs__text">
                                            <p class="places-imgs__heading">Золотой партнер</p>
                                            <p class="places-imgs__bottom-text">1С Bitrix <br />
                                                Магазин на 1с битрикс - АСПРО</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 style="text-align:center;">Цены на самые популярные услуги нашей компании:
                    </h2>
                    <div class="b-types-of-site">
                        <div class="types-of-site__item">
                            <div class="types-of-site__img"><a
                                    href="#" class="disabled"  rel="nofollow"><img
                                        src="/files/110/type-2.png" /></a></div>
                            <div class="types-of-site__title"><a href="#" class="disabled"  rel="nofollow">Разработка сайтов</a></div>
                            <div class="types-of-site__price">от&nbsp;<span>12&nbsp;000&nbsp;₽</span></div>
                            {{!-- <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div> --}}
                            {{!-- <div class="types-of-site__link">&nbsp;</div>  --}}
                            {{!-- <a class="types-of-site__link disabled"
                                href="#" class=""  rel="nofollow"><span>Разработка сайтов</span></a> --}}
                        </div>
                        <div class="types-of-site__item">
                            <div class="types-of-site__img"><a
                                    href="#" class="disabled"  rel="nofollow"><img
                                        src="/files/110/type-1.png" /></a></div>
                            <div class="types-of-site__title"><a href="#" class="disabled"  rel="nofollow">Доработка
                                    сайтов</a></div>
                            <div class="types-of-site__price">от&nbsp;<span>6&nbsp;000&nbsp;₽</span></div>
                            {{!-- <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div>  --}}
                            {{!-- <a
                                class="types-of-site__link" href="/sluzhba-podderzhki/support/"><span>Доработка
                                    сайтов</span> </a> --}}
                        </div>
                        <div class="types-of-site__item">
                            <div class="types-of-site__img"><a
                                    href="#" class="disabled"  rel="nofollow"><img
                                        src="/files/110/type-3.png" /></a></div>
                            <div class="types-of-site__title"><a
                                    href="#" class="disabled"  rel="nofollow">Digital-стратегия</a>
                            </div>
                            <div class="types-of-site__price">от&nbsp;<span>15&nbsp;000&nbsp;₽</span></div>
                            {{!-- <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div>  --}}
                            {{!-- <a
                                class="types-of-site__link"
                                href="#" class="disabled"  rel="nofollow"><span>Digital-стратегия</span></a> --}}
                        </div>
                        <div class="types-of-site__item">
                            <div class="types-of-site__img"><a href="#" class="disabled"  rel="nofollow"><img
                                        src="/files/110/type-4.png" /></a></div>
                            <div class="types-of-site__title"><a href="#" class="disabled"  rel="nofollow">SEO-продвижение</a>
                            </div>
                            <div class="types-of-site__price">от&nbsp;<span>19 000&nbsp;₽</span></div>
                            {{!-- <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div>  --}}
                            {{!-- <a
                                class="types-of-site__link disabled"
                                href="#"   rel="nofollow"><span>Визитка</span></a> --}}
                        </div>
                        <div class="types-of-site__item">
                            <div class="types-of-site__img"><a href="#" class="disabled"  rel="nofollow"><img
                                        src="/files/110/type-5.png" /></a></div>
                            <div class="types-of-site__title"><a href="#" class="disabled"  rel="nofollow">Реклама</a></div>
                            <div class="types-of-site__price">от&nbsp;<span>15&nbsp;000&nbsp;₽</span></div>
                            {{!-- <div class="types-of-site__arrow"><img src="/files/110/type-arrow.png" /></div>  --}}
                            {{!-- <a
                                class="types-of-site__link"
                                href="/reklama/kontekstnaya-reklama/"><span>Реклама</span></a> --}}
                        </div>
                    </div>
                    <div class="b-conversion">
                        <div class="conversion__item">
                            <div class="conversion__title">
                                <div class="conversion__txt">Digital-стратегия</div>
                                <div class="conversion__num">&nbsp;</div>
                            </div>
                            <div class="conversion__content">
                                <ul>
                                    <li>Для успешного старта в онлайн пространстве вам нужна стратегия. SEO-FIRST подготовит для вашего бизнеса проработанную стратегию, которая позволит вам оценить риски и настроиться на результат.</li>
                                    <li>Наши специалисты изучат ваш бизнес, конкурентов и потребности,
                                        спрогнозируют сроки достижения результатов, требуемые вложения и пошагово распишут план работ для достижения поставленных целей.</li>
                                    <li>В итоге вы получите digital-стратегию продвижения в интернете с оценкой рисков и прогнозами сроков достижения результатов.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="conversion__item">
                            <div class="conversion__title">
                                <div class="conversion__txt">Разработка сайтов</div>
                                <div class="conversion__num">&nbsp;</div>
                            </div>
                            <div class="conversion__content">
                                <ul>
                                    <li>Сайт это в первую очередь инструмент продвижения в интернете, поэтому в каждом случае, опираясь на желаемый результат, мы порорабатываем сайт исходя из алгоритма привлечения заказов.
                                    </li>
                                    <li>В первую очередь мы ориентируемся на SEO оптимизацию сайтов, поэтому все наши сайты имеют самый огромный потенциал для SEO продвижения.</li>
                                    <li>Все наши сайты разработаны с помощью самых востребованных технологий - это гарантирует легкую дальнейшую поддержку и интеграцию любых сторонних модулей.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="conversion__item">
                            <div class="conversion__title">
                                <div class="conversion__txt">SEO продвижение</div>
                                <div class="conversion__num">&nbsp;</div>
                            </div>
                            <div class="conversion__content">
                                <ul>
                                    <li>Мы накопили огромный опыт SEO продвижения со дня основания компании в 2009 году, который мы используем в нашей работе. Наилучшим образом наши компетенции иллюстрирует обширное портфолио.</li>
                                    <li>Мы работаем со всеми поисковыми системами, но в первую очередь ориентируемся на Яндекс и Google. Также мы проводим продвижение по всей России, но в основном работаем на Московский регион. Весь накопленный опыт нашей компании в распоряжении наших клиентов.</li>
                                    <li>SEO продвижение в первую очередь направлено на достижение высокого органического, бесплатного и наиболее релевантного трафика на страницы сайта, что резко повышает заказы с сайта.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>










            <div class="container">
                <div class="b-portfolio-carousel">
                    <div class="portfolio-carousel__head"> <span class="portfolio-carousel__head-text-1"> Мы разработали
                            более </span> <span class="portfolio-carousel__head-text-2"> <!-- 1800 -->1000</span> <span
                            class="portfolio-carousel__head-text-3"> сайтов из 65 отраслей </span> </div>
                    <div class="portfolio-carousel__see-all">  </div>
                    <div class="portfolio-carousel__carousel">
                        <div class="js-carousel-portfolio">
                            <div class="portfolio-carousel__item"> Разработка корпоративного сайта для института
                                «МИРБИС» <img class="owl-lazy" alt=""
                                    data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/razrabotka-korporativnogo-sajta-dlya-instituta-mirbis/"></a> </div>
                            <div class="portfolio-carousel__item"> Разработка лендинга бренда водки «Drink House» <img
                                    class="owl-lazy" alt=""
                                    data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/razrabotka-lendinga-brenda-vodki-drink-house/"></a> </div>
                            <div class="portfolio-carousel__item"> Сайт для компании becker mining <img class="owl-lazy"
                                    alt="" data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/sajt-dlya-kompanii-becker-mining/"></a> </div>
                            <div class="portfolio-carousel__item"> Корпоративный сайт для компании Браво Софт <img
                                    class="owl-lazy" alt="" rel="nofollow"
                                    data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link"
                                    href="/portfolio/korporativnyj-sajt-dlya-kompanii-bravo-soft/"></a> </div>
                            <div class="portfolio-carousel__item"> Сайт для оконной компании «Аконика» <img
                                    class="owl-lazy" alt="" rel="nofollow"
                                    data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/sajt-dlya-okonnoj-kompanii-akonika/"></a> </div>
                            <div class="portfolio-carousel__item"> Редизайн сайта мебельного интернет-магазина <img
                                    class="owl-lazy" alt="" data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/redizajn-sajta-mebelnogo-internet-magazina/"></a> </div>
                            <div class="portfolio-carousel__item"> Модернизация сайта по внедрению решений комплексного
                                мониторинга на предприятиях <img class="owl-lazy" alt=""
                                    data-src="/files/1/por1.jpg" /> <a class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/modernizaciya-sajta-po-vnedreniyu-reshenij-kompleksnogo-monitoringa-na-predpriyatiyah/"></a>
                            </div>
                            <div class="portfolio-carousel__item"> Создание сайта для ремонтной компании из Москвы <img
                                    class="owl-lazy" alt="" data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/sozdanie-sajta-dlya-remontnoj-kompanii-iz-moskvy/"></a> </div>
                            <div class="portfolio-carousel__item"> Разработка сайта для системы мониторинга <img
                                    class="owl-lazy" alt="" data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/razrabotka-sajta-dlya-sistemy-monitoringa/"></a> </div>
                            <div class="portfolio-carousel__item"> Сайт для летной школы с каталогом курсов <img
                                    class="owl-lazy" alt="" data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link" rel="nofollow"
                                    href="/portfolio/sajt-dlya-letnoj-shkoly-s-katalogom-kursov/"></a> </div>
                            <div class="portfolio-carousel__item"> Разработка интернет-магазина эксклюзивных сувениров
                                <img class="owl-lazy" alt="" data-src="/files/1/por1.jpg" /> <a
                                    class="portfolio-carousel__link"
                                    href="/portfolio/razrabotka-internet-magazina-eksklyuzivnyh-suvenirov/"></a> </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="container" id="otzyvy">
                <div class="b-guestbox">
                    <div class="guestbox__msgtext"></div>
                    <div class="grid__row">
                        <div class="col-4-12 tablet-col-6-12">
                            <div class="guestbox__item guestbox__item_first">
                                <div class="guestbox__odometer"> <span id="odometer" class="odometer">98</span><span
                                        class="guestbox__odometer-percent">%</span> </div>
                                <p>клиентов довольны</p>
                            </div>
                        </div> <span id="js-ajax_reviewlist">
                            <div class="col-4-12 tablet-col-6-12">
                                <div class="guestbox__item">
                                    <div class="guestbox__head">
                                        <div class="guestbox__icon"><img src="/files/110/guestbox-icon.png" alt="">
                                        </div>
                                        <div class="guestbox__date">15.01.2023</div>
                                        <div class="guestbox__website"> <span>maincargo.ru</span> </div>
                                        <div class="guestbox__popup" title="Услуга"> Продвижение </div>
                                    </div>
                                    <div class="guestbox__name"> </div>
                                    <div class="guestbox__rating">
                                        <div class="b-ratbox">
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                        </div>
                                    </div>
                                    <div class="b-editor guestbox__text js-review" style="max-height: none;">
                                        <p>В компании "SEO-FIRST" мы заказывали СЕО продвижение и доработку сайта, всего за 6 месяцев мы заняли топовые позиции в поисковой выдаче города Москвы, в основном это первые страницы по поисковым фразам связанным с грузоперевозками. Данное продвижение сильно сказалось на органическом трафике из поисковых систем, так что в данный момент мы пользуемся потоком новых лидов бесплатно.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4-12 tablet-col-6-12">
                                <div class="guestbox__item">
                                    <div class="guestbox__head">
                                        <div class="guestbox__icon"><img src="/files/110/guestbox-icon.png" alt="">
                                        </div>
                                        <div class="guestbox__date">13.02.2023</div>
                                        <div class="guestbox__website"> <span>hotel-molodezhka.ru</span> </div>
                                        <div class="guestbox__popup" title="Услуга">Разработка сайта</div>
                                    </div>
                                    <div class="guestbox__name"> <span>Зарина</span> </div>
                                    <div class="guestbox__rating">
                                        <div class="b-ratbox">
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                        </div>
                                    </div>
                                    <div class="b-editor guestbox__text js-review" style="max-height: none;">
                                        <p>Заказали разработку сайта для новой гостиницы в Москве у компании  "SEO-FIRST", перед выбором компании проверили рейтинг и порфолио, нам понравилось. Работу сделали без задержек, а так ж, что важно, не было предложений увеличить смету. Что заказали - то и получили! Сайт очень функционален и нравится нашим клиентам, а главное - сайт конвертирует посетителей в заказы! Ребяята молодцы!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4-12 tablet-col-6-12">
                                <div class="guestbox__item">
                                    <div class="guestbox__head">
                                        <div class="guestbox__icon"><img src="/files/110/guestbox-icon.png" alt="">
                                        </div>
                                        <div class="guestbox__date">22.03.2023</div>
                                        <div class="guestbox__website"> <span>sutki178.ru</span> </div>
                                        <div class="guestbox__popup" title="Услуга">Продвижение</div>
                                    </div>
                                    <div class="guestbox__name"></div>
                                    <div class="guestbox__rating">
                                        <div class="b-ratbox">
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                        </div>
                                    </div>
                                    <div class="b-editor guestbox__text js-review" style="max-height: none;">
                                        <p>Была поставлена задача: разработать рекламную компанию ЯндексДирект, которая предпологала следующие шаги: согласование семантического ядра рекламной компании, подбор рекламных предложений для каждой вгруппы запросов. Все шаги были выполненны в срок, но что самое главное, все корректировки были внесенны быстро. Итогами работы компании стали поток заказов, а затраты на работу рекламной компании были в рамках 10% от прибыли с заказов.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4-12 tablet-col-6-12">
                                <div class="guestbox__item">
                                    <div class="guestbox__head">
                                        <div class="guestbox__icon"><img src="/files/110/guestbox-icon.png" alt="">
                                        </div>
                                        <div class="guestbox__date">15.01.2023</div>
                                        <div class="guestbox__website"> <span>stal-samara.ru</span> </div>
                                        <div class="guestbox__popup" title="Услуга"> Продвижение </div>
                                    </div>
                                    <div class="guestbox__name">  <span>Дмиртий</span> </div>
                                    <div class="guestbox__rating">
                                        <div class="b-ratbox">
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                        </div>
                                    </div>
                                    <div class="b-editor guestbox__text js-review" style="max-height: none;">
                                        <p>Мы долгое время пытались самостоятельно продвигаться в поисковых системах с помощью наема СЕО специалистов, но данный способ продвижения застрял в ТОП 50 поисковой выдачи. И только когда мы обратились в "SEO-FIRST" мы стремительно начали набирать высокие места. Если вы действительно хотите занять ТОП поисковой выдачи, вложитесь в надежную компанию, ароме того у них есть гарантии.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4-12 tablet-col-6-12">
                                <div class="guestbox__item">
                                    <div class="guestbox__head">
                                        <div class="guestbox__icon"><img src="/files/110/guestbox-icon.png" alt="">
                                        </div>
                                        <div class="guestbox__date">11.01.2023</div>
                                        <div class="guestbox__website"> <span>proflist-saratov.ru</span> </div>
                                        <div class="guestbox__popup" title="Услуга"> Продвижение </div>
                                    </div>
                                    <div class="guestbox__name"> </div>
                                    <div class="guestbox__rating">
                                        <div class="b-ratbox">
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                            <div class="ratbox__item ratbox__itemon"></div>
                                        </div>
                                    </div>
                                    <div class="b-editor guestbox__text js-review" style="max-height: none;">
                                        <p>Главное результат на мой взгляд! В "SEO-FIRST" очень щипитильное отношение к результативности, если клиент не получает гарантированного результата - они вернут деньги. Мне нравится такой подход, нет поводов для беспокойства. Поэтому могу посоветовать данную компанию для сотрудничества!</p>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>





            <div class="container container--large">
                <div>
                    <div class="container">
                        <div class="b-achievements">
                            <h2>Наши достижения</h2>
                            <div class="achievements__items">
                                <div class="achievements__item">
                                    <div class="achievements__top"><span class="achievements__num">46</span>
                                        <span>место</span></div>
                                    <div class="achievements__name">Рейтинг маркетинговых агентсв</div>
                                </div>
                                <div class="achievements__item">
                                    <div class="achievements__top"><span class="achievements__num">35</span>
                                        <span>место</span></div>
                                    <div class="achievements__name">Рейтинг разработчиков
                                        <br /> сайтов в России</div>
                                </div>
                                <div class="achievements__item">
                                    <div class="achievements__top"><span class="achievements__num">62</span>
                                        <span>место</span></div>
                                    <div class="achievements__name">Рейтинг SEO-компаний<br /> в России</div>
                                </div>
                                <div class="achievements__item">
                                    <div class="achievements__top"><span class="achievements__num">58</span>
                                        <span>место</span></div>
                                    <div class="achievements__name">Рейтинг разработчиков сайтов в России</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="b-ourteam">
                        <div class="ourteam__pic">
                            <picture>
                                <source media="(max-width: 767px)" srcset="/files/78/dlya-sajta2.jpg" /> <img alt=""
                                    src="/files/78/dlya-sajta2.jpg" style="margin: 0px;" />
                            </picture>
                        </div>
                        <div class="ourteam__main">
                            <div class="ourteam__title">
                                <h2>Команда</h2>
                            </div>
                            <div class="ourteam__text">Собственный штат специалистов по маркетингу, аналитиков,
                                технических SEO-специалистов, дизайнеров, программистов, профессиональных менеджеров
                            </div>
                            <div class="ourteam__button"><span><a href="/about/#Экскурсия">Экскурсия по офису</a>
                                </span></div>
                        </div>
                    </div> --}}
                </div>
            </div>


       
            


            <div class="container">
                <div>
                    
                    <div class="container">
                        <div class="b-services">
                            <div class="services__inner">
                                <div class="grid__row">
                                    <div class="col-1-1">
                                        <div class="services__head">
                                            <h2>Почему нам доверяют разработку и продвижение сайтов</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__row">
                                    <div class="col-1-2">
                                        <div class="services__item">
                                            <div class="services__img"><img alt="Создание сайта"
                                                    src="/files/110/services-2.png" /></div>
                                            <div class="services__text">
                                                <div class="services__title">Финансовые гарантии </div>
                                                <p>Мы создали 2500+ сайтов, поэтому работая с нами, вы точно получите
                                                    качественный продукт за оптимальный бюджет. Всегда разделяем риски
                                                    со своими клиентами и ответственны за то, что делаем. Это
                                                    подтверждается в договоре: гарантии соблюдения сроков, гарантии
                                                    качества оказания услуги, гарантии на итоговый результат.
                                                    </p>
                                            </div>
                                        </div>
                                        <div class="services__item">
                                            <div class="services__img"><img alt="Разработка web-сайта под ключ"
                                                    src="/files/110/services-3.png" /></div>
                                            <div class="services__text">
                                                <div class="services__title">Работа над проектом со всех сторон</div>
                                                <p>Вы получаете не услугу, а маркетинговую команду. Ее главная цель
                                                    &mdash; обеспечить результат для вашего бизнеса и увеличить прибыль.
                                                    Каждый проект уникален: создаем сайты, которые будут закрывать ваши
                                                    бизнес-задачи.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1-2">
                                        <div class="services__item">
                                            <div class="services__img"><img alt="Базовая SEO-оптимизация"
                                                    src="/files/110/services-4.png" /></div>
                                            <div class="services__text">
                                                <div class="services__title">Маркетинговая проработка сайта</div>
                                                <p>Вам нужно разработать сайт под ключ или переработать старый сайт? Мы
                                                    предлагаем вам создать сайт, который будет закрывать конкретные
                                                    маркетинговые или бизнес-задачи. В зависимости от сложности решения,
                                                    срок разработки &mdash; от 14 дней. Гарантию на запуск сайта в срок
                                                    мы указываем в договоре. Процесс создания сайта будет проходить под
                                                    вашим постоянным контролем.</p>
                                            </div>
                                        </div>
                                        <div class="services__item">
                                            <div class="services__img"><img alt="Готовый сайт в разумные сроки"
                                                    src="/files/110/services-5.png" /></div>
                                            <div class="services__text">
                                                <div class="services__title">Закрываем все маркетинговые задачи бизнеса
                                                    в digital</div>
                                                <p>Мы выстраиваем маркетинг с нуля &mdash; от анализа бизнеса и
                                                    подготовки digital-стратегии до создания фирменного стиля,
                                                    веб-разработки, SEO-продвижения и интернет-рекламы. Оказываем
                                                    гарантийную техническую поддержку и продолжаем развитие вашего
                                                    сайта.</p>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="services__btnbox"><a ajaxform="1"
                                            class="services__btn callback hide-on-mobile" formname="service_order_popup"
                                            href="/#form" js_max_width="1150">Получить КП</a> <a
                                            class="services__btn hide-on-desktop hide-on-tablet"
                                            href="/#form" >Получить КП</a></div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            