<div class="container">




{{!-- Работы в рамках создания сайта-визитк                        --}}
                    <div class="grid__row">
                        <div class="col-1-1">
                            <div class="b-headblock2 b-headblock2--mag">
                                <div class="headblock2__inner">
                                    <div class="headblock2__content">
                                        <h3 style="color: #3e3e3e; font-size: 190px;">404</h3>
                                        {{!-- <p itemprop="description">Сайт-визитка &mdash; это виртуальная визитная карточка
                                            компании. Если у вас небольшая компания или вы только запустили свой бизнес,
                                            создание сайта-визитки станет хорошим стартом. Обычно это недорогой сайт с
                                            лаконично изложенной информацией о компании и услугах. Его главная цель
                                            &mdash; повышать доверие к фирме, укреплять ее имидж и информировать о ее
                                            деятельности.&nbsp;Мы создаем сайты-визитки только на российских CMS.&nbsp;
                                        </p> --}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>