<div class="container">




{{!-- Работы в рамках создания сайта-визитк                        --}}
                     <div class="grid__row">
                        <div class="col-1-1">
                            <div class="b-headblock2 b-headblock2--mag">
                                <div class="headblock2__inner">
                                    <div class="headblock2__content">
                                        <p itemprop="description">Наш адрес:<br> 
                                             г. Волгоград, ул. Петропавловская д. 87 (центральный вход со стороны "K"opiPrint")<br> 
                                        Режим работы: Пн - Пт с 09:00 до 19:00<br>
                                        Вайбер: +7 (909) 380-25-19<br>
                                        Telegramm: +7 (909) 380-25-19<br>
                                        Почта: kopi34@yandex.ru
                                        </p>
                                    </div>
                                    <div class="headblock2__tarif">
                                        <a href="tel:+79093802519"><span class="headblock2__price">тел.: +7 (909) 380-25-19</span></a>
                                        {{!-- <div class="headblock2__btnbox"><a class="headblock2__btn" href="#form">Заказать</a></div> --}}
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>