<div class="container">




{{!-- Работы в рамках создания сайта-визитк                        --}}
                     <div class="grid__row">
                        <div class="col-1-1">
                            <div class="b-headblock2 b-headblock2--mag">
                                <div class="headblock2__inner">
                                    <div class="headblock2__content">
                                        <p itemprop="description">Наш адрес: г. Москва, Каширское шоссе, 55 К5 офис 21.<br> 
                                        Режим работы: Пн - Пт с 10:00 до 18:00<br>
                                        Whatsapp (Вотсап): 8 (995) 622-14-75<br>
                                        Telegramm: (Вотсап): 8 (995) 622-14-75<br>
                                        Почта: jack.lee137@outlook.com
                                        </p>
                                    </div>
                                    <div class="headblock2__tarif">
                                        <p><span class="headblock2__price">тел.: 8 (995) 622-14-75</span></p>
                                        {{!-- <div class="headblock2__btnbox"><a class="headblock2__btn" href="#form">Заказать</a></div> --}}
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>