.b-catalogbox {
  margin-bottom: 20px;
}
.b-catalogbox p {
  margin: 0;
  padding: 0 0 6px;
}
.b-catalogbox .catalogbox__item {
  position: relative;
}
.b-catalogbox .catalogbox__imgbox {
  margin: 10px auto 20px auto;
  width: 200px;
  height: 198px;
  position: relative;
  border: 1px solid #dddddd;
  text-align: center;
  background-color: #ffffff;
  font-size: 0;
}
.b-catalogbox a.catalogbox__imglink:link,
.b-catalogbox a.catalogbox__imglink:active,
.b-catalogbox a.catalogbox__imglink:visited,
.b-catalogbox a.catalogbox__imglink:hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-decoration: none;
  background: #13688f url(/assets/c49cb574/images/cat.search.png) 50% 50%
    no-repeat;
  opacity: 0.7;
  display: none;
}
.b-catalogbox .catalogbox__imgbox:hover a.catalogbox__imglink:link,
.b-catalogbox .catalogbox__imgbox:hover a.catalogbox__imglink:active,
.b-catalogbox .catalogbox__imgbox:hover a.catalogbox__imglink:visited,
.b-catalogbox .catalogbox__imgbox:hover a.catalogbox__imglink:hover {
  display: block;
}
.b-catalogbox .catalogbox__img {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  display: inline;
  font-size: 0;
}
.b-catalogbox .catalogbox__img a {
  display: block;
  position: relative;
}
.b-catalogbox .catalogbox__helper {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0px;
  zoom: 1;
  display: inline;
}
.b-catalogbox .catalogbox__title a:link,
.b-catalogbox .catalogbox__title a:active,
.b-catalogbox .catalogbox__title a:visited {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: normal;
  color: #1071ae;
}
.b-catalogbox .catalogbox__title a:hover {
  text-decoration: underline;
}
.b-catalogbox .catalogbox__btnbox {
  padding-bottom: 1em;
}
.b-catalogbox .catalogbox__btnbox:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
}
.b-catalogbox .catalogbox__btn button,
.b-catalogbox .catalogbox__btn a:link,
.b-catalogbox .catalogbox__btn a:active,
.b-catalogbox .catalogbox__btn a:visited,
.b-catalogbox .catalogbox__btn a:hover {
  padding: 5px 0 6px 0;
  float: left;
  width: 200px;
  height: auto;
  background: #3dade1 url() 0 0 no-repeat;
  color: #fff;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-catalogbox .catalogbox__btn button:hover,
.b-catalogbox .catalogbox__btn a:hover {
  background-position: 0 100%;
  background-color: #cecece;
  color: #fff;
}
.b-catalogbox .catalogbox__btn button.catalogbox__btn2 {
  float: right;
  background: #1071ae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  font-family: Segoe UI, sans-serif;
  color: #fff;
  text-indent: 0;
}
.b-catalogbox .catalogbox__btn button.catalogbox__btn2:hover {
  background: #3c3c3c;
}
.b-catalogbox .catalogbox__inputbox {
  margin-right: 10px;
  float: left;
  min-width: 87px;
  text-align: right;
}
.b-catalogbox .catalogbox__inputbox input {
  margin: 0;
  width: 32px;
  height: 26px;
  border: 1px solid #c2c2c2;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.b-catalogbox .catalogbox__plus {
  width: 20px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background: url(/assets/c49cb574/images/cat.plus.png) 0 0 no-repeat;
  cursor: pointer;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.b-catalogbox .catalogbox__plus:hover {
  background-position: 0 100%;
}
.b-catalogbox .catalogbox__minus {
  width: 20px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  background: url(/assets/c49cb574/images/cat.minus.png) 0 0 no-repeat;
  cursor: pointer;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.b-catalogbox .catalogbox__minus:hover {
  background-position: 0 100%;
}
.b-catalogbox .catalogbox__minus,
.b-catalogbox .catalogbox__plus,
.b-catalogbox .catalogbox__inputbox input {
  display: block;
  float: left;
}
.b-catalogbox .catalogbox__artical {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: normal;
  color: #858585;
}
.b-catalogbox .catalogbox__param {
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: normal;
  color: #3a3a3a;
}
.b-catalogbox .catalogbox__param span {
  font-weight: bold;
}
.b-catalogbox .catalogbox__price span {
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: normal;
  color: #000000;
}
.b-catalogbox .catalogbox__oldprice span {
  margin-right: 15px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: line-through;
  text-transform: normal;
  color: #000000;
}
.b-catalogbox .catalogbox__buynow:before {
  content: "";
  display: block;
  font-size: 0;
  clear: both;
}
.b-catalogbox .catalogbox__buynow {
  padding-bottom: 20px;
}
.b-catalogbox .catalogbox__buynow a:link,
.b-catalogbox .catalogbox__buynow a:active,
.b-catalogbox .catalogbox__buynow a:visited,
.b-catalogbox .catalogbox__buynow a:hover {
  border-bottom: 1px dashed #e5372d;
  width: auto;
  text-decoration: none;
}
.b-catalogbox .catalogbox__buynow a:hover {
  border: 0;
}
.b-catalogbox .catalogbox__salebox {
  position: absolute;
  top: 40px;
  left: 0;
}
.b-catalogbox .catalogbox__saleitem {
  margin-top: -30px;
}
.b-catalogbox-gal {
  margin-right: -13px;
  margin-left: -0;
  vertical-align: top;
  text-align: left;
}
.b-catalogbox-gal .catalogbox__item {
  margin: 0 10px 20px 0;
  width: 220px;
  height: 420px;
  background: #f1f1f1;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
}
.b-catalogbox-gal .catalogbox__item:hover {
  background: #dfebf1;
}
.b-catalogbox-gal .catalogbox__content,
.b-catalogbox-gal .catalogbox__shcar {
  padding: 0 10px;
}
.b-catalogbox-gal .catalogbox__shcar {
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f1f1f1;
}
.b-catalogbox-gal .catalogbox__item:hover .catalogbox__shcar {
  background: #dfebf1;
}
.b-catalogbox-gal .catalogbox__pricebox {
  float: left;
}
.b-catalogbox-gal .catalogbox__inputbox {
  float: right;
}
.b-catalogbox-gal .catalogbox__inputbox {
  margin-right: 0;
}
.b-catalogbox-gal2 .catalogbox__item {
  height: 300px;
}
.b-catalogbox-gal2 .catalogbox__item:hover .catalogbox__wrap {
  position: absolute;
  top: 0;
  bottom: -125px;
  left: 0;
  right: 0;
  background: #dfebf1;
  z-index: 5;
}
.b-catalogbox-gal2 .catalogbox__galhide {
  display: none;
}
.b-catalogbox-gal2 .catalogbox__item:hover .catalogbox__galhide {
  display: block;
}
.b-catalogbox-gal2 .catalogbox__btnbox button {
  float: left;
}
.b-catalogbox-detal .catalogbox__item {
  margin-bottom: 35px;
  padding: 10px;
  background: #f1f1f1;
}
.b-catalogbox-detal .catalogbox__item:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
}
.b-catalogbox-detal .catalogbox__leftcol {
  width: 360px;
  float: left;
}
.b-catalogbox-detal .catalogbox__imgbox {
  margin: 0 20px 20px 0;
  width: 330px;
  height: 330px;
}
.b-catalogbox-detal .catalogbox__content {
  overflow: hidden;
}
.b-catalogbox-detal .catalogbox__btnbox button,
.b-catalogbox-detal .catalogbox__btnbox a {
  margin-left: 0;
  margin-bottom: 15px;
  float: left;
}
.b-catalogbox-detal .catalogbox__inputbox {
  margin-right: 15px;
  padding-bottom: 1em;
  overflow: auto;
  float: left;
  text-align: left;
}
.b-catalogbox-detal .catalogbox__buynow {
  clear: left;
}
.b-catalogbox-detal .catalogbox__galbox {
  margin-left: 31px;
  margin-right: 31px;
  width: 270px;
  position: relative;
}
.b-catalogbox-detal .catalogbox__galbox ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.b-catalogbox-detal .catalogbox__galbox li {
  margin: 0;
  padding: 0;
  width: 88px;
  display: block;
  float: left;
  font-size: 0;
  color: #999;
  text-align: center;
}
.b-catalogbox-detal .catalogbox__back {
  width: 31px;
  height: 80px;
  position: absolute;
  top: 0;
  left: -31px;
  background: url(/assets/c49cb574/images/catalog.back.png) 0 0 no-repeat;
  cursor: pointer;
}
.b-catalogbox-detal .catalogbox__back:hover {
  background-position: 0 100%;
}
.b-catalogbox-detal .catalogbox__next {
  width: 31px;
  height: 80px;
  position: absolute;
  top: 0;
  right: -31px;
  background: url(/assets/c49cb574/images/catalog.next.png) 0 0 no-repeat;
  cursor: pointer;
}
.b-catalogbox-detal .catalogbox__next:hover {
  background-position: 0 100%;
}
.b-catalogbox-detal a.catalogbox__buynow:link,
.b-catalogbox-detal a.catalogbox__buynow:active,
.b-catalogbox-detal a.catalogbox__buynow:visited,
.b-catalogbox-detal a.catalogbox__buynow:hover {
  width: 200px;
}
.b-catalogbox-list .catalogbox__item {
  margin-bottom: 10px;
  padding: 10px;
  background: #f1f1f1;
}
.b-catalogbox-list .catalogbox__item:hover {
  background: #dfebf1;
}
.b-catalogbox-list .catalogbox__item:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
}
.b-catalogbox-list .catalogbox__imgbox {
  margin: 0 20px 0 0;
  width: 200px;
  height: 198px;
  float: left;
}
.b-catalogbox-list .catalogbox__content {
  overflow: hidden;
}
.b-catalogbox-list .catalogbox__btnbox:after {
  display: none;
}
.b-catalogbox-list .catalogbox__btnbox button,
.b-catalogbox-list .catalogbox__btnbox a {
  margin-left: 0;
  float: left;
  width: 200px;
}
.b-catalogbox-list .catalogbox__inputbox {
  margin-right: 15px;
  padding-bottom: 1em;
  overflow: auto;
  float: left;
  text-align: left;
}
.b-catalogbox-list a.catalogbox__buynow:link,
.b-catalogbox-list a.catalogbox__buynow:active,
.b-catalogbox-list a.catalogbox__buynow:visited,
.b-catalogbox-list a.catalogbox__buynow:hover {
  padding: 2px 10px 3px 10px;
  width: 200px;
}
.b-catalogbox-table {
  font-size: 12px;
}
.b-catalogbox-table table {
  width: 100%;
  border-collapse: collapse;
}
.b-catalogbox-table th {
  padding: 9px 15px 10px 15px;
  background-color: #45494a;
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: normal;
  text-align: left;
  color: #ececec;
}
.b-catalogbox-table td {
  padding: 9px 15px 5px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.b-catalogbox-table .catalogbox-table__center {
  text-align: center;
}
.b-catalogbox-table tr:nth-child(2n) td {
  background: #f1f1f1;
}
.b-catalogbox-table tr:nth-child(2n + 1) td {
  background: #ececec;
}
.b-catalogbox-table .catalogbox__imgbox {
  margin: 0;
  width: 16px;
  height: 15px;
  border: 0;
  position: relative;
  background: url(/assets/c49cb574/images/cat.photo.png) 0 0 no-repeat;
  cursor: pointer;
}
.b-catalogbox-table .catalogbox__img {
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 10;
  display: none;
}
.b-catalogbox-table .catalogbox__imgbox:hover .catalogbox__img {
  display: block;
}
.b-catalogbox-table .catalogbox__btnbox button {
  float: none;
}
.b-catalogbox-table .catalogbox__btnbox {
  padding: 0;
}
.b-catalogbox-table .catalogbox__inputbox {
  margin-right: 0;
  text-align: left;
}
.b-catalogbox-table .catalogbox__btnbox button,
.b-catalogbox-table .catalogbox__btnbox a:link,
.b-catalogbox-table .catalogbox__btnbox a:active,
.b-catalogbox-table .catalogbox__btnbox a:visited,
.b-catalogbox-table .catalogbox__btnbox a:hover {
  padding: 5px 0 6px 0;
  float: left;
  min-width: 70px;
  background: #3dade1 url() 0 0 no-repeat;
  color: #fff;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.b-catalogbox-table .catalogbox__btnbox a:hover {
  background-position: 0 100%;
  background-color: #cecece;
  color: #fff;
}
.b-catalogbox-table .catalogbox__star {
  position: relative;
  cursor: pointer;
  border-bottom: 1px dashed #fff;
}
.b-catalogbox-table .catalogbox__star:hover {
  border-bottom: 0;
}
.b-catalogbox-table .catalogbox__stardown {
  width: 9px;
  height: 5px;
  background: url(/assets/c49cb574/images/cat.arrdown.gif) 0 0 no-repeat;
  position: absolute;
  top: 8px;
  right: -14px;
}
.b-catalogbox-table .catalogbox__stardownon,
.b-catalogbox-table .catalogbox__stardown:hover {
  background-position: 0 100%;
}
.b-catalogbox-table .catalogbox__starup {
  width: 9px;
  height: 5px;
  background: url(/assets/c49cb574/images/cat.arrup.gif) 0 0 no-repeat;
  position: absolute;
  top: 8px;
  right: -23px;
}
.b-catalogbox-table .catalogbox__starupon,
.b-catalogbox-table .catalogbox__starup:hover {
  background-position: 0 100%;
}
.b-catalogbox-cart {
  margin: 0;
}
.b-catalogbox-cart .catalogbox__inputbox {
  margin: 0;
  float: none;
  display: inline-block;
  text-align: center;
}
.b-catfilter {
  margin-bottom: 20px;
  padding: 10px 20px;
  background: #f1f1f1;
  color: #606060;
}
.b-catfilter:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
}
.b-catfilter .catfilter__item {
  display: inline-block;
}
.b-catfilter .catfilter__leftside {
  width: 60%;
  float: left;
}
.b-catfilter .catfilter__rightside {
  width: 40%;
  text-align: right;
  float: right;
}
.b-catfilter .catfilter__galpic {
  margin-left: 20px;
  padding-left: 29px;
  position: relative;
  display: inline-block;
}
.b-catfilter .catfilter__galpic ins {
  width: 13px;
  height: 13px;
  background: url(/assets/c49cb574/images/fliter.gal.gif) 0 100% no-repeat;
  position: absolute;
  top: 3px;
  left: 0;
}
.b-catfilter .catfilter__galpic__on,
.b-catfilter .catfilter__galpic:hover {
  text-decoration: none;
  color: #3c3c3c;
}
.b-catfilter .catfilter__galpic__on ins,
.b-catfilter .catfilter__galpic:hover ins {
  background: url(/assets/c49cb574/images/fliter.gal.gif) 0 0 no-repeat;
}
.b-catfilter .catfilter__listpic {
  margin-left: 20px;
  padding-left: 29px;
  position: relative;
  display: inline-block;
}
.b-catfilter .catfilter__listpic ins {
  width: 13px;
  height: 14px;
  background: url(/assets/c49cb574/images/fliter.list.gif) 0 100% no-repeat;
  position: absolute;
  top: 3px;
  left: 0;
}
.b-catfilter .catfilter__listpic__on,
.b-catfilter .catfilter__listpic:hover {
  text-decoration: none;
  color: #3c3c3c;
}
.b-catfilter .catfilter__listpic__on ins,
.b-catfilter .catfilter__listpic:hover ins {
  background: url(/assets/c49cb574/images/fliter.list.gif) 0 0 no-repeat;
}
.b-catfilter .catfilter__select {
  width: 180px;
}
.b-catfilter .catfilter__title {
  padding-right: 15px;
}
.b-catfilter a.catfilter__titleup:link,
.b-catfilter a.catfilter__titleup:active,
.b-catfilter a.catfilter__titleup:visited,
.b-catfilter a.catfilter__titledown:link,
.b-catfilter a.catfilter__titledown:active,
.b-catfilter a.catfilter__titledown:visited {
  padding-right: 15px;
  color: #3c3c3c;
  text-decoration: none;
}
.b-catfilter .catfilter__titleup:hover {
  background: url(/assets/c49cb574/images/catfilter.up.gif) 100% 50% no-repeat;
  text-decoration: none;
}
.b-catfilter .catfilter__titledown:hover {
  background: url(/assets/c49cb574/images/catfilter.down.gif) 100% 50% no-repeat;
  text-decoration: none;
}
.b-catslider {
  margin-bottom: 50px;
  font-size: 12px;
  text-transform: uppercase;
  display: table;
}
.b-catslider:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
}
.b-catslider a.catslider__back:link,
.b-catslider a.catslider__back:active,
.b-catslider a.catslider__back:visited,
.b-catslider a.catslider__back:hover {
  padding: 0 45px;
  height: 35px;
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  background: #f1f1f1 url(/assets/c49cb574/images/catslider.back.gif) 0 0
    no-repeat;
}
.b-catslider a.catslider__next:link,
.b-catslider a.catslider__next:active,
.b-catslider a.catslider__next:visited,
.b-catslider a.catslider__next:hover {
  padding: 0 45px;
  height: 35px;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  text-decoration: none;
  background: #f1f1f1 url(/assets/c49cb574/images/catslider.next.gif) 100% 0
    no-repeat;
}
.b-catslider a.catslider__mid:link,
.b-catslider a.catslider__mid:active,
.b-catslider a.catslider__mid:visited,
.b-catslider a.catslider__mid:hover {
  overflow: hidden;
  display: table-cell;
  width: 100%;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background: #f1f1f1;
}
.b-catslider a.catslider__mid:hover {
  background-color: #3dade1;
  color: #fff;
}
.b-catslider a.catslider__back:hover {
  background: #3dade1 url(/assets/c49cb574/images/catslider.back.gif) 0 100%
    no-repeat;
  color: #fff;
}
.b-catslider a.catslider__next:hover {
  background: #3dade1 url(/assets/c49cb574/images/catslider.next.gif) 100% 100%
    no-repeat;
  color: #fff;
}
.b-autor .grid__row {
  margin-left: -24px;
  margin-right: -24px;
}
.b-autor [class*="col-"] {
  padding-left: 24px;
  padding-right: 24px;
}
.b-autor .autor__item {
  height: 400px;
  margin-bottom: 28px;
  border-bottom: 1px solid #d2d2d2;
}
.b-autor .autor__img {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 32px;
  overflow: hidden;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  font-size: 0;
}
.b-autor .autor__img img {
  max-width: 100%;
}
.b-autor .autor__title {
  margin-bottom: 16px;
}
.b-autor .autor__title a:link,
.b-autor .autor__title a:visited {
  font-family: "Raleway Black", sans-serif;
  font-size: 18px;
  color: #000;
}
.b-autor .autor__description {
  margin-bottom: 20px;
  line-height: 1.2;
}
.b-autor .autor__param:link,
.b-autor .autor__param:visited {
  text-decoration: none;
  font-size: 12px;
  color: #989898;
  line-height: 1.428;
}
.b-autor .autor__param:hover {
  text-decoration: underline;
}
.b-autor .autor__num {
  font-size: 14px;
  font-weight: bold;
  color: #383431;
}
.g-tags .b-autor .autor__item {
  height: auto;
  border-bottom: none;
}
.b-autor--detail h1 {
  margin-bottom: 20px;
}
.b-autor--detail .autor__item {
  overflow: hidden;
  height: auto;
  margin-bottom: 70px;
  padding: 35px 40px;
  background-color: #f2f2f2;
  border: none;
}
.b-autor--detail .autor__img {
  float: left;
  display: block;
  width: 200px;
  margin-right: 47px;
  margin-bottom: 20px;
  border: 4px solid #fff;
}
.b-autor--detail .autor__content {
  overflow: hidden;
}
.b-autor--detail .autor__description {
  line-height: 1.428;
}
.b-autor--detail .autor__btn-contact a:link,
.b-autor--detail .autor__btn-contact a:visited {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 6px 5px 7px;
  max-width: 180px;
  border: 2px solid #ffd157;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffd157;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #000;
}
.b-autor--detail .autor__btn-contact a:hover {
  background-color: transparent;
}
.b-center {
  text-align: center;
  margin-bottom: 30px;
}
.grid__row hr {
  display: none;
}
.b-price {
  margin-bottom: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.price__item {
  padding-right: 50px;
  width: calc(50% - 50px);
}
.b-price .price__head {
  margin-bottom: 35px;
  font-size: 22px;
  font-family: Raleway, san-serif;
}
.b-price .price__head span {
  font-size: 40px;
  font-weight: bold;
}
.b-price .price__head img {
  padding-right: 10px;
  vertical-align: middle;
}
.b-price .price__txt {
  line-height: 1.6;
}
.b-price .price__txt p {
  padding: 0 0 20px 0;
}
.b-solution-fancy ul li {
  padding-bottom: 2px;
}
.b-price-h2 {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 50px;
  margin-bottom: 40px;
}
.b-price .price__item img {
  height: 32px;
}
.b-raiting {
  margin-bottom: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.b-raiting .raiting__item {
  padding: 0 30px 10px;
  width: 25%;
  border-right: 1px solid #dcdcdc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-raiting .raiting__item:first-child {
  padding: 0 30px 0 10px;
}
.b-raiting .raiting__item:last-child {
  border-right: none;
}
.b-raiting .raiting__number {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.b-raiting .raiting__count {
  font-size: 100px;
  color: #ff544a;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.b-raiting .raiting__title {
  padding: 0 0 22px 15px;
  font-size: 18px;
  color: #222;
  font-family: Raleway, san-serif;
}
.b-raiting .raiting__txt {
  font-size: 20px;
  font-weight: bold;
  font-family: Raleway, san-serif;
}
.b-create .create__item {
  margin-bottom: 45px;
}
.b-create .create__footnote {
  margin-top: 0 !important;
}
.b-gray-block {
  margin: 4em -2000px 4em;
  padding: 70px 2000px 0;
  background-color: #f2f2f2;
}
.b-plus {
  margin-top: 55px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.b-plus .plus__item {
  padding: 0 50px 70px 0;
  width: calc(100% / 3 - 0px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-plus .plus__title {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.b-plus .plus__title img {
  margin: 0 0 30px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  font-family: Raleway, san-serif;
}
.b-plus .plus__txt {
  line-height: 1.6;
}
.b-plus .plus__img {
  padding-right: 7px;
}
.b-plus img {
  width: 23px;
}
.b-plus .plus__name {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 900;
  font-family: Raleway, san-serif;
}
.b-solution--2 {
  margin-top: 100px;
}
.b-solution--2 .solution__item {
  width: 50% !important;
}
.b-solution--2 .solution__title {
  margin: -6px auto 17px;
  max-width: 350px;
}
.b-solution .solution__inner {
  padding: 40px 30px 92px !important;
  margin: auto;
}
.b-solution--2 .solution__content {
  margin-bottom: 30px;
  min-height: 70px !important;
}
.b-solution--2 .solution__more {
  bottom: 60px !important;
}
.b-solution--2 .solution__more a:link,
.b-solution--2 .solution__more a:visited {
  width: 140px;
}
.b-create .create__footnote {
  border-top: 1px solid #dcdcdc !important;
}
.b-create {
  margin-bottom: 0 !important;
}
.create__footnote h2 {
  text-align: center;
}
.blog-header__time {
  margin-top: 15px;
}
.blog-header__time img {
  vertical-align: middle;
  margin-right: 10px;
}
