/* 7 - assets/eef90b11/css/typo.compile.css*/
pre,
.t-code {
  background: none repeat scroll 0 0 #dfe2e6;
  border: solid #d5d5d5;
  border-width: 1px 1px 1px 6px;
  color: #333333;
  font-family: "Courier News", monospace;
  font-size: 1em;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 10px 15px;
}
.t-highlight-default {
  background-color: #529728;
  color: #ffffff;
  font-weight: bold;
  padding: 1px 4px;
}
.t-highlight-1 {
  background-color: #5f95b0;
  color: #ffffff;
  font-weight: bold;
  padding: 1px 4px;
}
.t-highlight-2 {
  background-color: #d69839;
  color: #ffffff;
  font-weight: bold;
  padding: 1px 4px;
}
.t-highlight-3 {
  background-color: #000;
  color: #ffffff;
  font-weight: bold;
  padding: 1px 4px;
}
.t-icons-default {
  padding: 3px 0 3px 25px !important;
  background: none;
}
.t-icons-pdf {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-pdf.png) 0 0 no-repeat;
}
.t-icons-ppt {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-ppt.png) 0 0 no-repeat;
}
.t-icons-doc {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-doc.png) 0 0px no-repeat;
}
.t-icons-xls {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-xls.png) 0 0px no-repeat;
}
.t-icons-zip {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-zip.png) 0 0px no-repeat;
}
.t-icons-disk {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/bullet_disk.png) 0 4px no-repeat;
}
.t-icons-ppt {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-ppt.png) 0 0px no-repeat;
}
.t-icons-ppt {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/file-ppt.png) 0 0px no-repeat;
}
.t-icons-info {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/box-info-s.png) 0 0px no-repeat;
}
.t-icons-warning {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/box-warning-s.png) 0 0px
    no-repeat;
}
.t-icons-stickynote {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/box-stickynote-s.png) 0 0px
    no-repeat;
}
.t-icons-download {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/box-download-s.png) 0 0px
    no-repeat;
}
.t-icons-faq {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/box-faq-s.png) 0 0px no-repeat;
}
.t-icons-flag {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/box-flag-s.png) 0 0px no-repeat;
}
.t-icons-date {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/date.png) 0 0px no-repeat;
}
.t-icons-key {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/key.png) 0 0px no-repeat;
}
.t-icons-yes {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/yes.png) 0 0px no-repeat;
}
.t-icons-no {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/no.png) 0 0px no-repeat;
}
.t-icons-male {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/male.png) 0 0px no-repeat;
}
.t-icons-female {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/female.png) 0 0px no-repeat;
}
.t-icons-tag-blue {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-blue.png) 0 0px no-repeat;
}
.t-icons-tag-green {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-green.png) 0 0px no-repeat;
}
.t-icons-tag-orange {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-orange.png) 0 0px no-repeat;
}
.t-icons-tag-pink {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-pink.png) 0 0px no-repeat;
}
.t-icons-tag-purple {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-purple.png) 0 0px no-repeat;
}
.t-icons-tag-red {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-red.png) 0 0px no-repeat;
}
.t-icons-tag-yellow {
  padding: 3px 0 3px 25px !important;
  background: url(/assets/eef90b11/images/typo/tag-yellow.png) 0 0px no-repeat;
}
.t-list-default,
.t-list-circle,
.t-list-checklist,
.t-list-star,
.t-list-arrow,
.t-list-square,
.t-list-plus {
  list-style: none;
  padding: 0;
}
.t-list-default li,
.t-list-circle li,
.t-list-checklist li,
.t-list-star li,
.t-list-arrow li,
.t-list-square li,
.t-list-plus li {
  padding: 2px 0 2px 25px;
}
ul.t-list-default li {
  background: url(/assets/eef90b11/images/typo/bullet.gif) 12px 6px no-repeat;
}
ul.t-list-circle li {
  background: url(/assets/eef90b11/images/typo/circle.png) 0px 4px no-repeat;
}
ul.t-list-checklist li {
  background: url(/assets/eef90b11/images/typo/checklist.gif) 5px 3px no-repeat;
}
ul.t-list-star li {
  background: url(/assets/eef90b11/images/typo/star.png) 0px 0px no-repeat;
}
ul.t-list-arrow li {
  background: url(/assets/eef90b11/images/typo/arrow.gif) 4px 6px no-repeat;
}
ul.t-list-square li {
  background: url(/assets/eef90b11/images/typo/square.png) 4px 2px no-repeat;
}
ul.t-list-plus li {
  background: url(/assets/eef90b11/images/typo/plus.png) 4px 1px no-repeat;
}
.t-box-info,
.t-box-warning,
.t-box-stickynote,
.t-box-download,
.t-box-faq,
.t-box-flag,
.t-box-pdf,
.t-box-doc,
.t-box-xls,
.t-box-zip,
.t-box-disk,
.t-box-ppt {
  padding: 15px 15px 15px 50px !important;
  margin-bottom: 0.5em !important;
}
.t-box-info {
  background: url(/assets/eef90b11/images/typo/box-info.png) no-repeat 10px 8px
    #ebf5fa;
  border-bottom: 1px solid #c5dce8;
  border-top: 1px solid #c5dce8;
}
.t-box-warning {
  background: url(/assets/eef90b11/images/typo/box-warning.png) no-repeat 10px
    8px #fffce9;
  border-bottom: 1px solid #ded6a3;
  border-top: 1px solid #ded6a3;
}
.t-box-warning {
  background: url(/assets/eef90b11/images/typo/box-warning.png) no-repeat 10px
    8px #fffce9;
  border-bottom: 1px solid #ded6a3;
  border-top: 1px solid #ded6a3;
}
.t-box-stickynote {
  background: url(/assets/eef90b11/images/typo/box-stickynote.png) no-repeat
    10px 8px #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-box-download {
  background: url(/assets/eef90b11/images/typo/box-download.png) no-repeat 10px
    8px #f3ffe7;
  border-bottom: 1px solid #b8cba4;
  border-top: 1px solid #b8cba4;
}
.t-box-faq {
  background: url(/assets/eef90b11/images/typo/box-faq.png) no-repeat 10px 8px
    #fffce9;
  border-bottom: 1px solid #ded6a3;
  border-top: 1px solid #ded6a3;
}
.t-box-flag {
  background: url(/assets/eef90b11/images/typo/box-flag.png) no-repeat 10px 8px
    #fffce9;
  border-bottom: 1px solid #ded6a3;
  border-top: 1px solid #ded6a3;
}
.t-box-pdf {
  background: url(/assets/eef90b11/images/typo/file_extension_pdf.png) no-repeat
    10px 8px #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-box-doc {
  background: url(/assets/eef90b11/images/typo/file_extension_doc.png) no-repeat
    10px 8px #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-box-xls {
  background: url(/assets/eef90b11/images/typo/file_extension_xls.png) no-repeat
    10px 8px #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-box-ppt {
  background: url(/assets/eef90b11/images/typo/file_extension_ppt.png) no-repeat
    10px 8px #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-box-zip {
  background: url(/assets/eef90b11/images/typo/file_extension_zip.png) no-repeat
    10px 8px #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-box-disk {
  background: url(/assets/eef90b11/images/typo/disk.png) no-repeat 10px 8px
    #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.t-bubble {
  margin: 0 0 15px;
  position: relative;
  width: 100%;
}
.t-bubble .bubble-top {
  background: none repeat scroll 0 0 #ffffff;
  border: 3px solid #cfcece;
  display: block;
  overflow: hidden;
  padding: 10px;
}
.t-bubble .bubble-bottom {
  max-height: 50px;
  margin: -3px 0 0;
  padding: 5px 0 0 60px;
  position: relative;
}
.t-bubble .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll 0 0 transparent;
  display: block;
  height: 30px;
  left: 30px;
  position: absolute;
  top: 0;
  width: 30px;
}
.t-bubble-1 .bubble-top {
  background: none repeat scroll 0 0 transparent;
  border: 3px solid #cfcece;
}
.t-bubble-2 .bubble-top {
  background: none repeat scroll 0 0 #cccccc;
  border: 3px solid #cccccc;
}
.t-bubble-2 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll 0 -30px transparent;
}
.t-bubble-3 .bubble-top {
  background: none repeat scroll 0 0 transparent;
  border: 3px solid #a1cee5;
}
.t-bubble-3 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll -30px 0 transparent;
}
.t-bubble-4 .bubble-top {
  background: none repeat scroll 0 0 #5f95b0;
  border: 3px solid #5f95b0;
  color: #fff;
}
.t-bubble-4 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll -30px -30px transparent;
}
.t-bubble-5 .bubble-top {
  background: none repeat scroll 0 0 transparent;
  border: 3px solid #ffe0b0;
}
.t-bubble-5 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll -60px 0 transparent;
}
.t-bubble-6 .bubble-top {
  background: none repeat scroll 0 0 #d69839;
  border: 3px solid #d69839;
  color: #fff;
}
.t-bubble-6 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll -60px -30px transparent;
}
.t-bubble-7 .bubble-top {
  background: none repeat scroll 0 0 transparent;
  border: 3px solid #484848;
}
.t-bubble-7 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll -90px 0 transparent;
}
.t-bubble-8 .bubble-top {
  background: none repeat scroll 0 0 #0f0f0f;
  border: 3px solid #0f0f0f;
  color: #fff;
}
.t-bubble-8 .bubble-arrow {
  background: url(/assets/eef90b11/images/typo/bubble-arrow.png) no-repeat
    scroll -90px -30px transparent;
}
.t-blocknumber {
  padding: 8px 0 8px 60px;
  position: relative;
}
.t-blocknumber .bignumber {
  background: url(/assets/eef90b11/images/typo/blocknumber.png) no-repeat scroll
    0 0 transparent;
  display: block;
  font-size: 200%;
  height: 54px;
  left: 0;
  line-height: 54px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 54px;
}
.t-blocknumber-1 .bignumber {
  background: url(/assets/eef90b11/images/typo/blocknumber.png) no-repeat scroll
    0 0 transparent;
  color: #5f5f5f;
}
.t-blocknumber-2 .bignumber {
  background: url(/assets/eef90b11/images/typo/blocknumber.png) no-repeat scroll
    0 -54px transparent;
  color: #fff;
}
.t-blocknumber-3 .bignumber {
  background: url(/assets/eef90b11/images/typo/blocknumber.png) no-repeat scroll
    0 -108px transparent;
  color: #fff;
}
.t-blocknumber-4 .bignumber {
  background: url(/assets/eef90b11/images/typo/blocknumber.png) no-repeat scroll
    0 -162px transparent;
  color: #fff;
}
.t-plainrows {
  background-color: #f2f2f2;
  border-collapse: collapse;
  color: #404040;
  border: none;
  margin-bottom: 1em;
}
.t-plainrows caption {
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
}
.t-plainrows thead {
  border-bottom: 1px solid #284d73;
}
.t-plainrows thead th,
.t-plainrows tbody th {
  background-color: #366999;
  border-bottom: 1px solid #284d73;
  color: #ffffff;
  font-size: 1.1em;
  padding: 5px 10px;
}
.t-plainrows tfoot th,
.t-plainrows tfoot td {
  background-color: #d9d9d9;
  color: #000000;
  font-size: 1.1em;
  padding: 3px 10px;
}
.t-plainrows tfoot td {
  text-align: right;
}
.t-plainrows tbody td {
  border-bottom: 1px solid #d9d9d9;
  border-width: 0 0 1px 0;
  padding: 4px 10px;
  font-weight: normal;
}
.t-plainrows tbody th {
  white-space: nowrap;
}
.t-plainrows tbody tr:hover {
  background: none repeat scroll 0 0 #e5e5e5;
}
.t-colorstripes {
  background: none repeat scroll 0 0 #284d73;
  border: 1px solid #162c40;
  border-collapse: collapse;
  color: #ffffff;
  margin-bottom: 1em;
}
.t-colorstripes caption {
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
}
.t-colorstripes td,
.t-colorstripes th {
  border: 1px dashed #366999;
  padding: 5px 10px;
}
.t-colorstripes tr:last-child td,
.t-colorstripes tr:last-child th {
  border-bottom: 0 none;
}
.t-colorstripes thead th,
.t-colorstripes tbody th {
  background: none repeat scroll 0 0 #162c40;
  border: 1px solid #284d73;
  color: #ffffff;
  font-size: 1.1em;
}
.t-colorstripes tbody td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
.t-colorstripes tbody tr.t-t-odd {
  background: none repeat scroll 0 0 #224161;
}
.t-colorstripes tbody tr:hover {
  background: none repeat scroll 0 0 #1f3d59;
}
.t-colorstripes tbody tr:hover th,
.t-colorstripes tbody tr.t-t-odd:hover th {
  background: none repeat scroll 0 0 #1f3d59;
}
.t-colorstripes tfoot th,
.t-colorstripes tfoot td {
  background: none repeat scroll 0 0 #162c40;
  border: medium none;
  color: #ffffff;
  font-size: 1.1em;
  padding: 4px 10px;
}
.t-colorstripes tfoot td {
  text-align: right;
}
.t-greystripes {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
  color: #404040;
}
.t-greystripes caption {
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
}
.t-greystripes td,
.t-greystripes th {
  border: 1px dashed #e5e5e5;
  padding: 5px 10px;
}
.t-greystripes thead th,
.t-greystripes tbody th {
  background: none repeat scroll 0 0 #404040;
  border-color: #595959;
  border-style: solid;
  border-width: 1px 1px 2px;
  color: #ffffff;
  font-size: 1.1em;
}
.t-greystripes tbody td {
  text-align: left;
  vertical-align: top;
}
.t-greystripes tbody tr.t-odd {
  background: none repeat scroll 0 0 #f2f2f2;
}
.t-greystripes tbody tr:hover {
  background: none repeat scroll 0 0 #e5e5e5;
}
.t-greystripes tbody tr:hover th {
  background: none repeat scroll 0 0 #7d7878;
  color: #fff;
}
.t-greystripes tbody tr.t-odd:hover th {
  background: none repeat scroll 0 0 #e5e5e5;
}
.t-greystripes tfoot th,
.t-greystripes tfoot td {
  background-color: #d9d9d9;
  border: medium none;
  color: #000000;
  font-size: 1.1em;
  padding: 4px 10px;
}
.t-greystripes tfoot td {
  text-align: right;
}
.t-blockquote {
  padding: 10px 0 10px 30px !important;
  margin-bottom: 20px !important;
  border-left: 5px solid #ffd156;
}
