/* 11 - assets/c49cb574/css/tab.compile.css*/
.b-catalogbox .ui-state-default {
  float: left;
}
.b-catalogbox .ui-helper-hidden {
  display: none;
}
.b-catalogbox .ui-tabs-panel {
  padding: 20px;
  background: #f1f1f1;
}
.b-catalogbox .ui-helper-hidden-accessible {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.b-catalogbox .ui-helper-reset {
  border: 0 none;
  font-size: 100%;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-decoration: none;
}
.b-catalogbox .ui-helper-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.b-catalogbox .ui-helper-clearfix {
  display: inline-block;
}
* html .b-catalogbox .ui-helper-clearfix {
  height: 1%;
}
.b-catalogbox .ui-helper-clearfix {
  display: block;
}
.b-catalogbox .ui-helper-zfix {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.b-catalogbox .ui-state-disabled {
  cursor: default !important;
}
.b-catalogbox .ui-icon {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -99999px;
}
.b-catalogbox .ui-widget-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.b-catalogbox .ui-widget {
  font-family: inherit;
  font-size: 1em;
}
.b-catalogbox .ui-widget .ui-widget {
  font-size: 1em;
}
.b-catalogbox .ui-widget input,
.b-catalogbox .ui-widget select,
.b-catalogbox .ui-widget textarea,
.b-catalogbox .ui-widget button {
  font-family: inherit;
  font-size: 1em;
}
.b-catalogbox .ui-widget-content {
  border: 0;
}
.b-catalogbox .ui-widget-header {
  margin-bottom: 20px;
  background: none;
  border-bottom: 1px solid #3dade1;
  font-weight: bold;
}
.b-catalogbox .ui-state-default,
.b-catalogbox .ui-widget-content .ui-state-default,
.b-catalogbox .ui-widget-header .ui-state-default {
  padding: 9px 22px;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #444443;
  font-weight: normal;
}
.b-catalogbox .ui-state-default a,
.b-catalogbox .ui-state-default a:link,
.b-catalogbox .ui-state-default a:visited {
  color: #444443;
  text-decoration: none;
}
.b-catalogbox .ui-state-hover,
.b-catalogbox .ui-widget-content .ui-state-hover,
.b-catalogbox .ui-widget-header .ui-state-hover,
.b-catalogbox .ui-state-focus,
.b-catalogbox .ui-widget-content .ui-state-focus,
.b-catalogbox .ui-widget-header .ui-state-focus {
  padding: 9px 22px;
  background: #3dade1;
  border: 1px solid #3dade1;
  color: #fff;
  font-weight: normal;
}
.b-catalogbox .ui-state-hover a,
.b-catalogbox .ui-state-hover a:hover {
  color: #fff;
  text-decoration: none;
}
.b-catalogbox .ui-state-active,
.b-catalogbox .ui-widget-content .ui-state-active,
.b-catalogbox .ui-widget-header .ui-state-active {
  padding: 9px 22px;
  background: #3dade1;
  border: 1px solid #3dade1;
  color: #000;
  font-weight: normal;
}
.b-catalogbox .ui-state-active a,
.b-catalogbox .ui-state-active a:link,
.b-catalogbox .ui-state-active a:visited {
  color: #fff;
  text-decoration: none;
}
.b-catalogbox .ui-widget *:active {
  outline: medium none;
}
.b-catalogbox .ui-state-highlight,
.b-catalogbox .ui-widget-content .ui-state-highlight,
.b-catalogbox .ui-widget-header .ui-state-highlight {
  background: #3dade1;
  border: 1px solid #3dade1;
  color: #fff;
}
.b-catalogbox .ui-state-highlight a,
.b-catalogbox .ui-widget-content .ui-state-highlight a,
.b-catalogbox .ui-widget-header .ui-state-highlight a {
  color: #fff;
}
.b-catalogbox .ui-state-error,
.b-catalogbox .ui-widget-content .ui-state-error,
.b-catalogbox .ui-widget-header .ui-state-error {
  background: url("/assets/c49cb574/images/ui-bg_glass_95_fef1ec_1x400.png")
    repeat-x scroll 50% 50% #fef1ec;
  border: 1px solid #cd0a0a;
  color: #cd0a0a;
}
.b-catalogbox .ui-state-error a,
.b-catalogbox .ui-widget-content .ui-state-error a,
.b-catalogbox .ui-widget-header .ui-state-error a {
  color: #cd0a0a;
}
.b-catalogbox .ui-state-error-text,
.b-catalogbox .ui-widget-content .ui-state-error-text,
.b-catalogbox .ui-widget-header .ui-state-error-text {
  color: #cd0a0a;
}
.b-catalogbox .ui-priority-primary,
.b-catalogbox .ui-widget-content .ui-priority-primary,
.b-catalogbox .ui-widget-header .ui-priority-primary {
  font-weight: bold;
}
.b-catalogbox .ui-priority-secondary,
.b-catalogbox .ui-widget-content .ui-priority-secondary,
.b-catalogbox .ui-widget-header .ui-priority-secondary {
  font-weight: normal;
  opacity: 0.7;
}
.b-catalogbox .ui-state-disabled,
.b-catalogbox .ui-widget-content .ui-state-disabled,
.b-catalogbox .ui-widget-header .ui-state-disabled {
  background-image: none;
  opacity: 0.35;
}
.b-catalogbox .ui-widget-overlay {
  background: #aaaaaa;
  opacity: 0.3;
}
.b-catalogbox .ui-widget-shadow {
  background: #aaaaaa;
  border-radius: 8px;
  margin: -8px 0 0 -8px;
  opacity: 0.3;
  padding: 8px;
}
.b-catalogbox .ui-helper-hidden {
  display: none;
}
.b-catalogbox .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.b-catalogbox .ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.b-catalogbox .ui-helper-clearfix:before,
.b-catalogbox .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
.b-catalogbox .ui-helper-clearfix:after {
  clear: both;
}
.b-catalogbox .ui-helper-clearfix {
  min-height: 0;
}
.b-catalogbox .ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}
.b-catalogbox .ui-front {
  z-index: 100;
}
.b-catalogbox .ui-state-disabled {
  cursor: default !important;
}
.b-catalogbox .ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.b-catalogbox .ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b-catalogbox .ui-slider {
  position: relative;
  text-align: left;
  margin: 15px 15px 0 0;
}
.b-catalogbox .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  cursor: default;
  padding: 0;
  background: url(/assets/c49cb574/images/filter.hand.png) 0 0 no-repeat;
  border: 0;
  cursor: pointer;
}
.b-catalogbox .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: 0.7em;
  display: block;
  border: 0;
  background: #3dade1;
}
.b-catalogbox .ui-slider.ui-state-disabled .ui-slider-handle,
.b-catalogbox .ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}
.b-catalogbox .ui-slider-horizontal {
  height: 5px;
}
.b-catalogbox .ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -1px;
}
.b-catalogbox .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.b-catalogbox .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.b-catalogbox .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.b-catalogbox .ui-slider-vertical {
  width: 0.8em;
  height: 100px;
}
.b-catalogbox .ui-slider-vertical .ui-slider-handle {
  left: -0.3em;
  margin-left: 0;
  margin-bottom: -0.6em;
}
.b-catalogbox .ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}
.b-catalogbox .ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.b-catalogbox .ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
.b-catalogbox .ui-corner-all,
.b-catalogbox .ui-corner-top,
.b-catalogbox .ui-corner-left,
.b-catalogbox .ui-corner-tl {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-left-radius: 0;
}
.b-catalogbox .ui-corner-all,
.b-catalogbox .ui-corner-top,
.b-catalogbox .ui-corner-right,
.b-catalogbox .ui-corner-tr {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-top-right-radius: 0;
}
.b-catalogbox .ui-corner-all,
.b-catalogbox .ui-corner-bottom,
.b-catalogbox .ui-corner-left,
.b-catalogbox .ui-corner-bl {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
}
.b-catalogbox .ui-corner-all,
.b-catalogbox .ui-corner-bottom,
.b-catalogbox .ui-corner-right,
.b-catalogbox .ui-corner-br {
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
